@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            租约
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.CONTRACTID" v-on:on-click="SelContract" v-on:on-change="ContractChange" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            商户
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.MERCHANTNAME" disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            年月
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker type="month" v-bind:value.sync ="dataParam.NIANYUE" v-bind:disabled="!disabled"></yx-date-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            类型
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<通知单类型>()
                {
                    vModel = "dataParam.TYPE",
                    Change = "chgTYPE",
                    Enable = true
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            收费单位
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "dataParam.FEE_ACCOUNTID",
                    Data = "screenParam.FEE_ACCOUNT",
                    EmptyText = "",
                    Enable = true,
                    Change = "chgFAT",
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}
@section detailParam{
<row>
    <i-col span="24">
        <Card v-bind:padding=0>
            <p slot="title">账单</p>
            <div slot="extra"  v-show="disabled">
                <i-button type="primary" v-on:click="SelBill">选择</i-button>
                <i-button type="error" v-on:click="delBill">删除</i-button>
            </div>
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300" selection=true
                      v-bind:data="dataParam.BILL_NOTICE_ITEM" v-bind:disabled="!disabled" ref="refGroup">
            </yx-table>
        </Card>
    </i-col>
</row>

}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopContract",
            Caption = "选择租约",
            Width = "900",
            Src = "screenParam.srcPopContract"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopBill",
            Caption = "选择账单",
            Width = "800",
            Src = "screenParam.srcPopBill"
        });
    }
}


