@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section element{
    <row>
        <span v-if="screenParam.componentVisible">
            <i-col span="3" class="RowTitle">设备编号</i-col>
            <i-col span="6">
                @{
                    RenderControl(new TextBoxRender()
                    {
                        vModel = "dataParam.FILEID",
                        Enable = false
                    });
                }
            </i-col>
        </span>
        <i-col span="3" class="RowTitle">设备代码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.FILECODE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            设备名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.FILENAME",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            出厂日期
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.FACTORY_DATE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            描述
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DESCRIPTION",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>

        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            单价
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PRICE",
                    Enable = false,
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            倍率
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.MULTIPLE",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            最后读数
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.VALUE_LAST",
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            最后度数日期
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.DATE_LAST",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            公共区域
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.AREAID",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "SelShop",
                    Text = "单元",
                    Enable = false,
                    Type = "primary"
                });
            }
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.SHOPCODE",
                    Enable = false
                });
            }
        </i-col>
    </row>
}

@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopShop",
                    Src = "screenParam.srcPopShop",
                    Caption = "选择单元",
                    Width = "800"
                });
            }
        </i-col>
    </row>
}

}

@section search{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.FILECODE",
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.FILENAME"
                });
            }
        </i-col>
    </row>
}