@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@using z.ERP.Model;
@using z.Extensions;
@inherits EditViewBase<string>


@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            租约
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.CONTRACTID" v-on:on-click="SelContract" v-bind:disabled="!disabled" />
        </i-col>

        <i-col span="2" class="RowTitle">
            商户
        </i-col>
        <i-col span="2" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.MERCHANTID",
                    Readonly = "true"
                });
            }
        </i-col>
        <i-col span="4" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.SHMC",
                    Readonly = "true"
                });
            }
        </i-col>

        <i-col span="2" class="RowTitle"><span class="mustElement">*</span>
            进场日期
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.MARCHINDATE",
                    Id = "ckdate",
                });

            }
        </i-col>        
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            描述
        </i-col>
        <i-col span="14" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DESCRIPTION",
                    Id = "tdbz",
                });
            }
        </i-col>
    </row>

}

@section detailParam{
    <row>
        <i-table size="small" :border="true"
                 :columns="screenParam.colDef" :data="dataParam.MARCHINAREARITEM"></i-table>
    </row>
}

@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopContract",
                    Caption = "选择租约",
                    Width = "900",
                    Src = "screenParam.srcPopContract"
                });
            }
        </i-col>
    </row>
}
