@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@inherits EditViewBase<string>

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            供应商
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.NAME" v-on:on-click="Merchant" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            描述
        </i-col>
        <i-col span="22" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DESCRIPTION"
                });
            }
        </i-col>
    </row>
}

@section detailParam{
    <row v-if="disabled">
        <i-button type="primary" v-on:click="srchWlxx">选择</i-button>
        <i-button type="error" v-on:click="delColWlxx">删除</i-button>
    </row>
    <row>
        <i-col span="24">
            <yx-table v-bind:columns="screenParam.colDefWL" v-bind:height="300" selection=true
                      v-bind:data="dataParam.WLCHECKITEM" v-bind:disabled="!disabled" ref="selectWLxx">
        </i-col>
    </row>
}
@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopWLMerchant",
                    Caption = "选择供应商",
                    Width = "700",
                    Src = "screenParam.srcPopWLMerchant"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopWLGoods",
                    Caption = "选择物料信息",
                    Width = "700",
                    Src = "screenParam.srcPopWLGoods"
                });
            }
        </i-col>
    </row>
}