
@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="3" class="RowTitle">
            门店
        </i-col>
        <i-col span="5" class="RowText">
            <i-select v-model="searchParam.BRANCHID" v-on:on-change="branchChange"  v-bind:disabled="!disabled">
                <i-option v-for="item in screenParam.branchData"
                          v-bind:value="item.value" v-bind:key="item.value">{{ item.label }}</i-option>
            </i-select>
        </i-col>
        <i-col span="3" class="RowTitle">
            区域
        </i-col>
        <i-col span="5" class="RowText">
            <i-select v-model="searchParam.REGIONID" v-on:on-change="regionChange"  v-bind:disabled="!disabled">
                <i-option v-for="item in screenParam.regionData"
                          v-bind:value="item.value" v-bind:key="item.value">{{ item.label }}</i-option>
            </i-select>
        </i-col>
        <i-col span="3" class="RowTitle">
            楼层
        </i-col>
        <i-col span="5" class="RowText">
            <i-select v-model="searchParam.FLOORID" v-on:on-change="floorChange"  v-bind:disabled="!disabled">
                <i-option v-for="item in screenParam.floorData"
                          v-bind:value="item.value" v-bind:key="item.value">{{ item.label }}</i-option>
            </i-select>
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="3" class="RowTitle"><span class="mustElement">*</span>
            单元编码
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="!disabled? 'md-search':''"
                     v-model="dataParam.SHOPID" v-on:on-click="SelShop" v-bind:disabled="disabled"/>
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle"><span class="mustElement">*</span>
            标题坐标
        </i-col>
        <i-col span="19"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.TITLEPOINTS",
                    Enable = false,
                    type = "textarea",
                    rows = "5",
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle" style="padding-top:10px"><span class="mustElement">*</span>
            定位坐标
        </i-col>
        <i-col span="19"  class="RowText" style="padding-top:10px">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.POINTS",
                    Enable = false,
                    type = "textarea",
                    rows = "5",
                });
            }
        </i-col>
    </row>

}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopShop",
            Src = "screenParam.srcPopShop",
            Caption = "选择单元",
            Width = "800"
        });
    }
}
