@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="4" class="RowTitle">
            编码
        </i-col>
        <i-col span="8" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.ID"
                });
            }
        </i-col>
        <i-col span="4" class="RowTitle">
            名称
        </i-col>
        <i-col span="8" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.NAME"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">满减方式</i-col>
        <i-col span="8">
            @{
                RenderControl(new EnumDropDownListRender<满减方式>()
                {
                    vModel = "searchParam.FRTYPE"
                });
            }
        </i-col>
        <i-col span="4" class="RowTitle">方案状态</i-col>
        <i-col span="8">
            @{
                RenderControl(new EnumDropDownListRender<使用状态>()
                {
                    vModel = "searchParam.STATUS",
                });
            }
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            编码
        </i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ID",
                    Readonly="true",
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            方案名称
        </i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NAME",
                    Enable= false,
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            满减方式
        </i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<满减方式>
                {
                    vModel = "dataParam.FRTYPE",
                    Enable = false,
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            限额
        </i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.LIMIT",
                    type="number",
                    Enable = false,
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            状态
        </i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.STATUSMC",
                    Enable = false,
                    Readonly = "true",
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title">满减方案明细</p>
                <div slot="extra" v-show="!disabled">
                    <i-button type="primary" v-on:click="addItem">添加</i-button>
                    <i-button type="error" v-on:click="delItem">删除</i-button>
                </div>
                <yx-table v-bind:columns="screenParam.itemDef" v-bind:height="300" selection
                          v-bind:data="dataParam.FR_PLAN_ITEM" v-bind:disabled="disabled" ref="refGroup">
                </yx-table>
            </Card>
        </i-col>
    </row>

}

