@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{

    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="14" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NAME",
                    Change = "Getpym"
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            拼音码
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PYM"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            供应商
        </i-col>
        <i-col span="6"  class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.MERCHANTNAME" v-on:on-click="SelMerchant" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            进项税率
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.JXSL"
                });
            }
        </i-col>
    </row>


    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            采购单价
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.TAXINPRICE"
                });
            }
        </i-col>
        @*<i-col span="2" class="RowTitle">
                不含税单价
            </i-col>
            <i-col span="6">
                @{
                    RenderControl(new TextBoxRender()
                    {
                        vModel = "dataParam.NOTAXINPRICE"
                    });
                }
            </i-col>*@
        <i-col span="2" class="RowTitle">
            使用价
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.USEPRICE"
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            描述
        </i-col>
        <i-col span="22" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DESCRIPTION"
                });
            }
        </i-col>
    </row>
}


@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopWLMerchant",
                    Caption = "选择供应商",
                    Width = "700",
                    Src = "screenParam.srcPopWLMerchant"
                });
            }
        </i-col>
    </row>
}