@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@using z.ERP.Model;
@using z.Extensions;
@inherits EditViewBase<string>
@section head{}

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            营销活动
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.PROMOTIONNAME" v-on:on-click="srchPromotion" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            开始日期
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker v-bind:value.sync="dataParam.START_DATE" v-bind:disabled="!disabled"
                            v-bind:start="dataParam.START_DATE_LIMIT" v-bind:end="dataParam.END_DATE_LIMIT">
            </yx-date-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            结束日期
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker v-bind:value.sync="dataParam.END_DATE" v-bind:disabled="!disabled"
                            v-bind:start="dataParam.START_DATE_LIMIT" v-bind:end="dataParam.END_DATE_LIMIT">
            </yx-date-picker>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            促销周期
        </i-col>
        <i-col span="6" class="RowText">
            <yx-week-check-group v-bind:value.sync="dataParam.WEEK" v-bind:disabled="!disabled"></yx-week-check-group>
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            开始时间
        </i-col>
        <i-col span="6">
            <yx-time-picker v-bind:value.sync="dataParam.START_TIME" v-bind:disabled="!disabled"></yx-time-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            结束时间
        </i-col>
        <i-col span="6" class="RowText">
            <yx-time-picker v-bind:value.sync="dataParam.END_TIME" v-bind:disabled="!disabled"></yx-time-picker>
        </i-col>
    </row>
}
@section detailParam{
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title"><span class="mustElement">*</span>商品</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-if="disabled">
                        <i-button type="primary" v-on:click="srchGoods">选择</i-button>
                        <i-button type="error" v-on:click="delGoods">删除</i-button>
                        <i-button type="primary" icon="md-settings" v-on:click="settingVal">批量设置</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colDefGoods" v-bind:height="400" selection
                          v-bind:data="dataParam.PROMOBILL_GOODS" v-bind:disabled="!disabled" ref="refGoods">
                </yx-table>
            </Card>
        </i-col>
    </row>
}
@section detailParamFooter{
    <row>
        <i-col span="2" class="RowTitle">
            启动人:
        </i-col>
        <i-col span="4" class="Rowline">
            <label>{{dataParam.INITINATE_NAME}}</label>
        </i-col>
        <i-col span="2" class="RowTitle">
            启动时间:
        </i-col>
        <i-col span="4" class="Rowline">
            <label>{{dataParam.INITINATE_TIME}}</label>
        </i-col>
        <i-col span="2" class="RowTitle">
            终止人:
        </i-col>
        <i-col span="4" class="Rowline">
            <label>{{dataParam.TERMINATE_NAME}}</label>
        </i-col>
        <i-col span="2" class="RowTitle">
            终止时间:
        </i-col>
        <i-col span="4" class="Rowline">
            <label>{{dataParam.TERMINATE_TIME}}</label>
        </i-col>
    </row>
}