@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.MapShow;
@inherits MapShowViewBase

@section head{
<style>
    .ivu-table .demo-table-info-row td {
        background-color: #2db7f5;
        color: #fff;
    }
</style>

    @InitFiles(new string[] {
    "/Content/Maps/contextMenu.css",
    "/Content/Maps/contextMenu.min.js",
    "/Content/Maps/zMapPoint.css",
    "/Content/Maps/zMapPoint.js"
})
}
@section conditionParam{
    <row>
        <i-col span="1" class="RowTitle">年月</i-col>
        <i-col span="4" class="RowTitle">
            @{
                RenderControl(new YearMonthBoxRender()
                {
                    vModel = "searchParam.YEARMONTH"
                });
            }
        </i-col>
        <i-col span="1" class="RowTitle">门店</i-col>
        <i-col span="4" class="RowTitle">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "searchParam.BRANCHID",
                    Data = "screenParam.branchData",
                    Change = "branchChange",
                    Enable = true
                });
            }
        </i-col>
        <i-col span="1" class="RowTitle">区域</i-col>
        <i-col span="4" class="RowTitle">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "searchParam.REGIONID",
                    Data = "screenParam.regionData",
                    Change = "regionChange",
                    Enable = true
                });
            }
        </i-col>

        <i-col span="1" class="RowTitle">楼层</i-col>
        <span v-show="disabled">
            <i-col span="4" class="RowTitle">
                @{
                    RenderControl(new DropDownListsRender()
                    {
                        vModel = "searchParam.FLOORID",
                        Data = "screenParam.floorData",
                        Change = "floorChange",
                        Enable = true
                    });
                }
            </i-col>
        </span>
        <i-col span="2">
            <i-Button type="text" >   </i-Button>
            </i-col>
            <i-col span="2">
                <i-Button size="small" type="primary" v-on:click="SearchFloorMap">查询</i-Button>
            </i-col>
</row>
    }
@section resultLeft{
<Collapse simple accordion v-model="screenParam.FXWD">
    <Panel name="YTFB">
        业态分布
        <p slot="content">
        <i-table height="500" highlight-row size="small"
         :columns="screenParam.colDef" :data="screenParam.FLOORCATEGERY"></i-table>
        </p>
    </Panel>
    <Panel name="PWZT">
        铺位状态
        <p slot="content">
            <i-table height="500" highlight-row size="small"
                     :columns="screenParam.colDef1" :data="screenParam.shopRentStatus"></i-table>
        </p>
    </Panel>
</Collapse>
}
@section resultRight{
    <i-col span="18">
        <div id="div_map">
        </div>
    </i-col>
    @*</row>*@
}

@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopShop",
                    Src = "screenParam.srcPopShop",
                    VisibleChange= "PopVisibleChange",
                    Caption = " ",
                    Width = "700"
                });
            }
        </i-col>
    </row>
}


