@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            开始时间
        </i-col>
        <i-col span="6" class="RowText">
            <date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" v-on:on-change="dataParam.STARTTIME=$event" v-bind:disabled="!disabled"
                         v-bind:value="dataParam.STARTTIME"></date-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            结束时间
        </i-col>
        <i-col span="6" class="RowText">
            <date-picker type="datetime" format="yyyy-MM-dd HH:mm:ss" v-on:on-change="dataParam.ENDTIME=$event" v-bind:disabled="!disabled"
                         v-bind:value="dataParam.ENDTIME"></date-picker>
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>

}
@section detailParam{
    <row v-if="disabled">
        <i-col span="3">
            <i-button type="primary" v-on:click="srchColGoods">选择</i-button>
            <i-button type="error" v-on:click="delColGoods">删除</i-button>
        </i-col>
        <i-col span="2" style="text-align:right">
            扣率(%):
        </i-col>
        <i-col span="1">
            <i-input v-model="screenParam.RATE" type="number" v-bind:disabled="!disabled" size="small"/>
        </i-col>
        <i-col span="16">
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "cDOWN_RATE",
                    Text = "批量设置扣率降点",
                    Enable = true,
                    Type = "primary",
                    Icon = "plus-circled"
                });
            }
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "cUP_RATE",
                    Text = "批量设置扣率升点",
                    Enable = true,
                    Type = "primary",
                    Icon = "plus-circled"
                });
            }
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "cLIMIT_DOWN",
                    Text = "批量设置扣率下限",
                    Enable = true,
                    Type = "primary",
                    Icon = "plus-circled"
                });
            }
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "cLIMIT_UP",
                    Text = "批量设置扣率上限",
                    Enable = true,
                    Type = "primary",
                    Icon = "plus-circled"
                });
            }
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "cleardata",
                    Text = "清空",
                    Enable = true,
                    Type = "primary",
                    Icon = "plus-circled"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="24">
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300" selection=true
                      v-bind:data="dataParam.RATE_ADJUST_ITEM" v-bind:disabled="!disabled" ref="refGroup">
            </yx-table>
        </i-col>
    </row>

}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopGoods",
            Caption = "选择商品",
            Width = "900",
            Src = "screenParam.srcPopGoods"
        });
    }
}

