@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase


@section element{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.TRIMID"
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NAME",
                    Enable = false,
                    Change = "NameChange"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">拼音码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PYM",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            项目类型
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<收费项目类型>()
                {
                    vModel = "dataParam.TYPE",
                    Enable = false,
                });
            }
        </i-col>
    </row>
    <row>
        @*<i-col span="3" class="RowTitle">
                <span class="mustElement">*</span>
                成本费用
            </i-col>
            <i-col span="6">
                @{
                    RenderControl(new EnumDropDownListRender<收费项目成本费用>()
                    {
                        vModel= "dataParam.ACCOUNT",
                        Enable=false
                    });
                }
            </i-col>*@



        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            现金货扣
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<收费项目现金货扣>()
                {
                    vModel = "dataParam.DEDUCTION",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">停用标记</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<停用标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            科目代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.SUBJECT_CODE",
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">通知单生成方式</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<通知单生成方式>()
                {
                    vModel = "dataParam.SCFS_TZD",
                    Enable = false
                });
            }
        </i-col>
    </row>
}



@section search{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.TRIMID",
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.NAME"
                });
            }
        </i-col>
    </row>
}

