@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@inherits z.MVC5.Views.ListViewPage

@section tjbtn{
    <i-button type="text" v-on:click="Search">查询</i-button>
    <span>|</span>
    <i-button type="text" v-on:click="Save">保存</i-button>
}

@section tj{
    <row>
        <i-col span="2" class="RowTitle">
            组织ID
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "SearchData.ORGID",
                    Id = "tb_temp",
                    Placeholder = "hahahaha"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            组织CODE
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new UndefineRender()
                {
                    vModel = "SearchData.ORGCODE"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            组织类型
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<部门类型>()
                {
                    vModel = "SearchData.ORG_TYPE"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            所在商场
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    ServiceMothod = m => m.a()
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            创建日期
        </i-col>
        <i-col span="6">
            <date-picker v-model="SearchData.CREATE_TIME"></date-picker>
        </i-col>
    </row>
}

@section jg{
    <row>
        <i-table border columns="colBm" data="dataBm"></i-table>
    </row>
}
