@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="3" class="RowTitle">分店</i-col>
        <i-col span="9">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "searchParam.BRANCHID",
                    Data= "screenParam.branchData",
                    Change= "branchChange",
                    Enable = true
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">楼层</i-col>
        <span v-show="disabled">
            <i-col span="9">
                @{
                    RenderControl(new DropDownListsRender()
                    {
                        vModel = "dataParam.FLOORID",
                        Data = "screenParam.floorData",
                        Change = "floorChange",
                        Enable = true
                    });
                }
            </i-col>
        </span>
        <span v-show="!disabled">
        <i-col span="9">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "dataParam.FLOORID",
                    Data = "screenParam.floorData",
                    Change = "floorChange",
                    Enable = false
                });
            }
        </i-col>
        </span>
    </row>
<row>
    <i-col span="3" class="RowTitle">
        代码
    </i-col>
    <i-col span="9">
        @{
            RenderControl(new TextBoxRender()
            {
                vModel = "searchParam.CODE",
                Enable = true
            });
        }
    </i-col>
    <i-col span="3" class="RowTitle">
        名称
    </i-col>
    <i-col span="9">
        @{
            RenderControl(new TextBoxRender()
            {
                vModel = "searchParam.NAME",
                Enable = true
            });
        }
    </i-col>
</row>

}
}
@section element{
    <row>
        <span v-if="screenParam.componentVisible">
            <i-col span="3" class="RowTitle">                
                单元编号
            </i-col>
            <i-col span="6">
                @{
                    RenderControl(new TextBoxRender()
                    {
                        vModel = "dataParam.SHOPID",
                        Enable = false
                    });
                }
            </i-col>
        </span>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            单元代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.CODE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            单元名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NAME",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            单元类型
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<单元类型>()
                {
                    vModel = "dataParam.TYPE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            管理机构
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.ORGIDCASCADER",
                    Data = "screenParam.ORGData",
                    Change = "orgChange",
                    Not_level_last = true,
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            业态
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.CATEGORYIDCASCADER",
                    Data = "screenParam.CATEGORYData",
                    Change = "categoryChange",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            租赁面积
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AREA_RENTABLE",
                    Enable = false
                });
            }
        </i-col>

    </row>
    <row>
        <i-col span="3" class="RowTitle">使用面积</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AREA_USABLE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">建筑面积</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AREA_BUILD",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">单元状态</i-col>
        <i-col span="6">
            @{
                RenderControl(new ViewEnumDropDownListRender<单元状态>()
                {
                    vModel = "dataParam.STATUS",
                    UseEnable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">租用状态</i-col>
        <i-col span="6">
            @{
                RenderControl(new ViewEnumDropDownListRender<租用状态>()
                {
                    vModel = "dataParam.RENT_STATUS",
                    UseEnable = false
                });
            }
        </i-col>
    </row>





}