@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="5" class="RowTitle">终端号</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.STATIONBH"
                });
            }
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            终端号
        </i-col>
        <i-col span="5">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.STATIONBH",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            分店
        </i-col>
        <i-col span="5">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.BRANCHID",
                    ServiceMothod = m => m.branch(),
                    Enable = false
                });
            }
        </i-col>


    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            IP地址
        </i-col>
        <i-col span="5">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.IP",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            类型
        </i-col>
        <i-col span="5">
            @{
                RenderControl(new EnumDropDownListRender<POS类型>
                {
                    vModel = "dataParam.TYPE",
                    Enable = false
                });
            }
        </i-col>
        

    </row>
    <row>
        <i-col span="3" class="RowTitle">
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "SelShop",
                    Text = "店铺",
                    Enable = false,
                    Type = "primary"
                });
            }
        </i-col>
        <i-col span="5">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.SHOPCODE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            MAC地址
        </i-col>
        <i-col span="5">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NETWORK_NODE_ADDRESS",
                    Enable = false,
                    keyup="atoA"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            收款方式
        </i-col>
        <i-col span="10">
        <i-table  size="small" border height="330"
                    :columns="screenParam.payColDef" :data="screenParam.STATION_PAY_DATA"   
                    v-on:on-select="screenParam.selectData"
                    v-on:on-select-all="screenParam.selectDataAll"
                    v-on:on-select-cancel="screenParam.selectCancel"></i-table>
       </i-col>
    </row>
}

@section pops{

    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopShop",
                    Src = "screenParam.srcPopShop",
                    Caption = "选择店铺",
                    Width = "800"
                });
            }
        </i-col>
    </row>

}








