@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase
@section head{
    <style>
        #zzc {
            width: 80px;
            height: 100%;
            position: absolute;
            background-color: #F3F3F3;
            z-index: 10;
            opacity: 0.6;
        }
    </style>
}
@section search{
    <row>
        <i-col span="5" class="RowTitle">门店</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "searchParam.BRANCHID",
                    Data = "screenParam.branchData",
                    EmptyText = "",
                    Change = "branchChange",
                });
            }
        </i-col>
        <i-col span="5" class="RowTitle">终端号</i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="searchParam.STATIONBH"></i-input>
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            终端号
        </i-col>
        <i-col span="5" class="RowText">
            <i-input v-model="dataParam.STATIONBH" v-bind:disabled="disabled" v-on:on-blur="bhonblur"></i-input>
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            类型
        </i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<POS类型>
                {
                    vModel = "dataParam.TYPE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            店铺
        </i-col>
        <i-col span="5" class="RowText">
            <i-input readonly v-bind:icon="disabled? '':'md-search'"
                     v-model="dataParam.SHOPCODE" v-on:on-click="SelShop"
                     v-bind:disabled="disabled? true:false" />
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            MAC地址
        </i-col>
        <i-col span="5" class="RowText">
            <i-input v-model="dataParam.NETWORK_NODE_ADDRESS" v-on:on-keyup="mackeyup" v-bind:disabled="disabled"></i-input>
        </i-col>
        <i-col span="3" class="RowTitle">
            IP地址
        </i-col>
        <i-col span="5" class="RowText">
            <i-input v-model="dataParam.IP" v-bind:disabled="disabled"></i-input>
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            收款方式
        </i-col>

        <i-col span="10">
            <div id="zzc" v-if="disabled"></div>
            <yx-table v-bind:columns="screenParam.payColDef" v-bind:data="screenParam.STATION_PAY_DATA" v-bind:selection="true" ref="payRef"></yx-table>
        </i-col>
    </row>
}








