@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Empty
@inherits EmptyViewBase

@section head{
<script src="~/Areas/Pop/PopContract/PopContract.js"></script>
}

@section btn{
    @{
        RenderControl(new ButtonRender()
        {
            Click = "add",
            Text = "新增",
            Enable = true
        });
    }
    @{
        RenderControl(new ButtonRender()
        {
            Click = "mod",
            Text = "修改",
            //Enable = false
        });
    }
    @{
        RenderControl(new ButtonRender()
        {
            Click = "save",
            Text = "存档",
            Enable = false
        });
    }
    @{
        RenderControl(new ButtonRender()
        {
            Click = "quit",
            Text = "放弃",
            Enable = false
        });
    }
    @{
        RenderControl(new ButtonRender()
        {
            Click = "del",
            Text = "删除",
            //Enable=false
        });
    }
}

@section content{

<row>
    <i-col>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "Merchant",
                Text = "商户",
                Enable = true,
                Type = "primary"
            });
        }
        @{
                RenderControl(new PopRender()
                {
                    vModel = "PopMerchant", //当前页面随便写
                    Caption = "商户查询",   //随便写切实实际情况
                    Width = "760",          //随便写切实实际情况
                    PopLx = "Contract",     //需要调用的弹窗
                    CallBack = "MerchantBack", //返回后方法
                    ParentObj= "ParentMerchant" //传入参数随便写
                });
            }
    </i-col>


    <i-col>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "Merchant2",
                Text = "商户2",
                Enable = true,
                Type = "primary"
            });
        }
        @{
            RenderControl(new PopRender()
            {
                vModel = "PopMerchant2", //当前页面随便写
                Caption = "商户查询2",   //随便写切实实际情况
                Width = "760",          //随便写切实实际情况
                PopLx = "Contract",     //需要调用的弹窗
                CallBack = "MerchantBack2", //返回后方法
                ParentObj = "ParentMerchant2" //传入参数随便写
            });
        }
    </i-col>

</row>

 <row>
    <i-col span="5">
        <div ref="tableHeight">
            <card  style="height:100%">
                <p slot="title">列表信息</p>            
                <i-table :highlight-row="true" size="small" :border="true"
                         :columns="screenParam.colDef" :data="screenParam.dataDef"
                         v-on:on-current-change="showlist" :disabled="disabled" height="440"></i-table>
            </card>
        </div>
    </i-col>

    <i-col span="16">
        <div ref="cardHeigth">
            <card class="elementcard"  style="height:100%">
                <p slot="title">包含元素</p>
                <row>
                    <i-col span="3" class="RowTitle">
                        POS终端号
                    </i-col>
                    <i-col span="10">
                        @{
                            RenderControl(new TextBoxRender
                            {
                                vModel = "dataParam.STATIONBH",
                                Id = "tb_bh",
                                Enable = false
                            });
                        }
                    </i-col>
                </row>
                <row>
                    <i-col span="3" class="RowTitle">
                        类型
                    </i-col>
                    <i-col span="10">
                        @{
                            RenderControl(new EnumDropDownListRender<POS类型>
                            {
                                vModel = "dataParam.TYPE",
                                Id = "tb_type",
                                Enable = false
                            });
                        }
                    </i-col>
                </row>
                <row>
                    <i-col span="3" class="RowTitle">
                        IP
                    </i-col>
                    <i-col span="10">
                        @{
                            RenderControl(new TextBoxRender
                            {
                                vModel = "dataParam.IP",
                                Id = "tb_ip",
                                Enable = false
                            });
                        }
                    </i-col>
                </row>
                <row>
                    <i-col span="3" class="RowTitle">
                        收款方式
                    </i-col>
                    <i-col span="10"> 
                        <i-table ref="selection" size="small" border
                                  :columns="screenParam.payColDef" :data="screenParam.payDataDef" height="300"></i-table>
                    </i-col>
                </row>
            </card>
        </div>
    </i-col>
</row>
}





