@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            记账日期
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.ACCOUNT_DATE"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            POS终端
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.POSNO" disabled="disabled" placeholder="保存完自动写入，需要提前定义" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收银员
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.SYYMC" v-on:on-click="SelSyysuser" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            营业员
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.YYYMC" v-on:on-click="SelYyysuser" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>

}
@section detailParam{
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title">商品</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-if="disabled">
                        <i-button type="primary" v-on:click="srchColGoods">选择</i-button>
                        <i-button type="error" v-on:click="delColGoods">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300" selection=true
                          v-bind:data="dataParam.SALEBILLITEM" v-bind:disabled="!disabled" ref="refZd">
                </yx-table>
            </Card>
        </i-col>
    </row>

}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopSyyuser",
            Caption = "选择人员",
            Width = "800",
            Src = "screenParam.srcPopSyyuser",
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopGoods",
            Caption = "选择商品",
            Width = "900",
            Src = "screenParam.srcPopGoods"
        });
    }
}

