@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}

@InitFiles(WebFiles)

<div id="passWord">
    <row>
       <br />
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            新密码
        </i-col>
        <i-col span="6">
            <i-input type="password" v-model="psw1">
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            再次确认新密码
        </i-col>
        <i-col span="6">
            <i-input type="password" v-model="psw2">
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
        </i-col>
        <i-col span="6">
            <i-button v-on:click="sure">确认</i-button>
        </i-col>
    </row>
</div>