@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Tree
@inherits TreeViewBase

@section element{
    <row>
        <i-col span="4" class="RowTitle">
            代码
        </i-col>
        <i-col span="8" class="Rowline">
            <label>{{dataParam.CATEGORYCODE}}</label>
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="8" class="RowText">
            <i-input typeof="text" v-model="dataParam.CATEGORYNAME" v-bind:disabled="!disabled"></i-input>
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            末级标记
        </i-col>
        <i-col span="8" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<末级标记>()
                {
                    vModel = "dataParam.LEVEL_LAST",
                    Enable = true
                });
            }
        </i-col>
    </row>
}
