@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            权债发生月
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker type="month" v-bind:value.sync="dataParam.NIANYUE" v-bind:disabled="!disabled"></yx-date-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            收付实现月
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker type="month" v-bind:value.sync="dataParam.YEARMONTH" v-bind:disabled="!disabled"></yx-date-picker>
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            开始日期
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker type="date" v-bind:value.sync="dataParam.START_DATE" v-bind:disabled="!disabled"></yx-date-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            结束日期
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker type="date" v-bind:value.sync="dataParam.END_DATE" v-bind:disabled="!disabled"></yx-date-picker>
        </i-col>
        @*<i-col span="2" class="RowTitle">
            账单类型
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<账单类型>()
                {
                    vModel = "dataParam.TYPE",
                    Enable = false
                });
            }
        </i-col>*@
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}
@section detailParam{
<row>
    <i-col span="24">
        <Card v-bind:padding=0>
            <p slot="title">租约</p>
            <div slot="extra" v-show="disabled">
                <i-button type="primary" v-on:click="srchContract">选择</i-button>
                <i-button type="error" v-on:click="delContract">删除</i-button>
            </div>
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300" selection
                      v-bind:data="dataParam.BILL_ADJUST_ITEM" v-bind:disabled="!disabled" ref="refGroup">
            </yx-table>
        </Card>
    </i-col>
</row>

}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopContract",
            Caption = "选择租约",
            Width = "900",
            Src = "screenParam.srcPopContract"
        });
    }
}





