.hide { display: none; }
.RowTitle { text-align: right; font-size: large; height: 35px; }
.RowText { text-align: center; font-size: large; }
.elementcard .ivu-row { height: 50px; }
.topbutton .ivu-btn { margin-left: 10px; }
