.hide { display: none; }
.RowTitle { text-align: right; font-size: small; height: 40px;line-height:30px;padding-right:10px; }
.RowText { text-align: left; font-size: small; }
.elementcard .ivu-row { height: 50px; }
.topbutton .ivu-btn { margin-left: 10px; }
/*.ivu-collapse-content{overflow:unset !important;color:#495060;padding:0 16px;background-color:#fff}*/
.ivu-date-picker {display: inline-block;line-height: normal;width: 100%;}
.Rowline { text-align: left; font-size: small; height: 40px;line-height:30px }
.mustElement {color: red; height: 40px;position: relative;}
.leftRow {width: 80px; text-align:right;padding-left:10px}
.rightRow {width: 20%; padding-left:5px}

.ivu-modal-body{
    padding:5px !important;
}
.ivu-modal-header{
    padding:12px !important;
    background-color:#0099ff;
}
.ivu-modal-close{
    top:4px !important;
}
.ivu-modal-close .ivu-icon-ios-close{
     color:#fff !important;
}
 .ivu-collapse-content{
    width: 100%;
    height:100%;
    padding:0 !important;
}
 .ivu-collapse-content>.ivu-collapse-content-box{
     padding: 1px !important;
}
 .ivu-collapse-header{
     height:35px  !important;
     line-height:35px !important;
     font-size: 12px;
     font-weight: bold;
 }
 #EditDetail .ivu-collapse-header{
     height:35px  !important;
     line-height:35px !important;
     background-color: #0099ff;
     color: #fff !important;
     font-size: 12px;
     font-weight: bold;
 }
#EditDetail .ivu-card-head{
    padding:12px;
}
.ivu-btn{
     padding:0 5px !important;
 }
.srchParamContent{padding-top:10px;}
.popParamContent {padding-top:10px;}
.searchParamContent{padding-top:10px;}
.tableBtnDiv{}
.topMenuBtn{
    text-align:left;
    padding-left:10px;
    line-height: 40px;
    background-color: azure;
}
.yxInputClass .ivu-poptip-rel{width:100%;}
.ivu-tabs-bar{margin-bottom:5px !important;}

.ivu-cascader-disabled{
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc;
}
