html, body {
    height: 100%;
}

.hide {
    display: none;
}
[v-cloak] {
    display: none;
}
.RowTitle {
    text-align: right;
    font-size: small;
    height: 40px;
    line-height: 30px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.RowText {
    text-align: left;
    font-size: small;
}

.elementcard .ivu-row {
    height: 50px;
}

.topbutton .ivu-btn {
    margin-left: 10px;
}

.ivu-date-picker {
    display: inline-block;
    line-height: normal;
    width: 100%;
}

.Rowline {
    text-align: left;
    font-size: small;
    height: 40px;
    line-height: 30px;
}

.mustElement {
    color: red;
    height: 40px;
    position: relative;
}

.leftRow {
    width: 80px;
    text-align: right;
    padding-left: 10px;
}

.rightRow {
    width: 20%;
    padding-left: 5px;
}

.ivu-modal-header {
    background: #0099ff;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 12px !important;
}

.ivu-modal-close {
    top: 4px !important;
}

    .ivu-modal-close .ivu-icon-ios-close {
        color: #fff !important;
    }

.ivu-modal-body {
    padding: 0 !important;
}

    .ivu-modal-body iframe {
        margin-bottom: -5px;
    }

.ivu-btn {
    padding: 0 5px !important;
}

.topMenuBtn {
    text-align: left;
    padding-left: 10px;
    line-height: 40px;
    background-color: azure;
}

.yxInputClass .ivu-poptip-rel {
    width: 100%;
}

.ivu-tabs-bar {
    margin-bottom: 5px !important;
}

.ivu-cascader-disabled {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc;
}

.ivu-input-number {
    width: 100% !important;
}

::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
    /*border-radius: 5px;*/
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background: radial-gradient(#ccc -24%, #fff 100%);
}

.ivu-modal-confirm-footer {
    padding: 5px;
    margin-top: 10px !important;
}
.ivu-tooltip-popper{
    word-break:break-word;
}
