<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SSOSettings" type="z.SSO.Model.SSOSettings, z.SSO" />
  </configSections>
  <appSettings>
    <add key="connection" value="data source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP) (HOST = 113.133.162.90) (PORT = 1521) ) (CONNECT_DATA = (SERVICE_NAME = YXMALL) ) ); User Id = MALL_USER; Password = WLSXJZ;Pooling=true;Max Pool Size=10;Min Pool Size=5" /> 
    <!--<add key="connection" value="data source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP) (HOST = 172.17.0.10) (PORT = 1521) ) (CONNECT_DATA = (SERVICE_NAME = LHFMALL) ) ); User Id = MALL_USER; Password = DHHZDHHZ;Pooling=true;Max Pool Size=10;Min Pool Size=5" /> -->
    <add key="TestModel" value="false" />
    <!--<add key="TestModel" value="true:4" />-->
    <add key="TicketHead" value="欢迎光临益讯商城" />
    <add key="TicketTail" value="地址:西安市软件园天泽大厦" />
    <add key="PrintCount" value="1" />
  </appSettings>
  <SSOSettings WcfUrl="http://localhost:59000/svc/SSOService.svc" User="admin" Password="admin" Type="SERVICE"></SSOSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
