@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@inherits EditViewBase<string>

@section baseParam{

    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            商户
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.MERCHANTNAME" v-on:on-click="SelMerchant" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            权债发生月
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.NIANYUE" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            付款方式
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.FKFSID",
                    ServiceMothod = m => m.fkfs(),
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收费单位
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "dataParam.FEE_ACCOUNT_ID",
                    Data = "screenParam.FEE_ACCOUNT",
                    EmptyText = "",
                });
            }

        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收款金额
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ALL_MONEY" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            账户余额
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ALL_MONEY" disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}

@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "dataParam.showPopMerchant",
            Caption = "选择商户",
            Width = "900",
            Src = "dataParam.srcPopMerchant"
        });
    }
}


