@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="5" class="RowTitle">门店</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "searchParam.BRANCHID",
                    ServiceMothod = m => m.branch(),
                    Change = "branchChange"
                });
            }
        </i-col>
        <i-col span="5" class="RowTitle">终端号</i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="searchParam.POSNO" />
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="4" class="RowTitle">
            终端号
        </i-col>
        <i-col span="5" class="RowText">
            <i-input readonly v-bind:icon="!disabled? 'md-search':''"
                     v-model="dataParam.POSNO" v-on:on-click="SelStation" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="4" class="RowTitle">
            门店
        </i-col>
        <i-col span="5" class="RowText">
            <i-input v-model="dataParam.BRANCHNAME" disabled />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            IP
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.IP" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            备用IP
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.IP_BAK" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            端口
        </i-col>
        <i-col span="5" class="RowText">
            <i-input v-model="dataParam.PORT" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            银联实体卡商户号
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.CFX_MCHTID" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            银联实体卡终端号
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.CFX_TERMID" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            银行扫码商户名称
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.CFXMPAY_MCHTNAME" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            银行扫码商户号
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.CFXMPAY_MCHTID" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            银行扫码终端号
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.CFXMPAY_TERMID" v-bind:disabled="disabled" />
        </i-col>
    </row>
}


