#search {
    overflow: hidden;
}

    #search .ivu-table .demo-table-info-row td {
        /*background-color: #4cff00;*/
        /*color: #000000;*/
        height: 35px;
    }

    #search .ivu-table .demo-table-error-row td {
        /*background-color: #0099ff;*/
        /*color: #fff;*/
        height: 35px;
    }

    #search .ivu-collapse-header .ivu-btn {
        color: #fff;
    }

        #search .ivu-collapse-header .ivu-btn:hover {
            color: #000000;
        }

    #search .ivu-table th {
        background: radial-gradient(red -24%, yellow 100%);
        color: #fff;
    }

    #search .ivu-page {
        color: #fff;
        /*background: radial-gradient(blue -24%, #000000 100%);*/
        background: radial-gradient(rgba(243, 224, 87, 0.51) -24%, #0000005c 100%);
        padding-left: 15px;
    }

    #search .ivu-collapse-header {
        height: 35px !important;
        line-height: 35px !important;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        /*background: radial-gradient(blue -24%, #000000 100%);*/
        background: radial-gradient(rgba(243, 224, 87, 0.51) -24%, #0000005c 100%);
    }

    #search .searchParamContent {
        padding-top: 10px;
        background: linear-gradient(#b0aacac2 -24%, #000000a6 100%);
        /*background: linear-gradient(#b0aacac2 -24%, #000000a6 100%);*/
    }

    #search .RowTitle {
        color: #fff;
    }

    #search .ivu-table-tip td {
        color: #fff;
        /*background: radial-gradient(blue -24%, #000000 100%);*/
        background: linear-gradient(#b0aacac2 -24%, #000000a6 100%);
    }

    #search .ivu-collapse-content {
        width: 100%;
        height: 100%;
        padding: 0 !important;
    }

        #search .ivu-collapse-content > .ivu-collapse-content-box {
            padding: 0 !important;
        }
