@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@using z.ERP.Model;
@using z.Extensions;
@inherits EditViewBase<string>
@section head{}

@section topDivCon{
    <Card v-bind:padding=0 v-if="screenParam.splcjd.length>0&&dataParam.STATUS==1&&!disabled">
        <div style="margin:10px;">
            <row>
                <i-col span="22" offset="2">
                    <Steps v-bind:current="screenParam.curLcjd">
                        <Step v-for="(i,k) in screenParam.splcjd" v-bind:title="i.JDNAME" v-bind:key="k"></Step>
                    </Steps>
                </i-col>
            </row>
        </div>
        <row>
            <i-col span="2" class="RowTitle">
                结果选择
            </i-col>
            <i-col span="6" class="RowText">
                <i-select v-model="screenParam.JDID">
                    <i-option v-for="(i,k) in screenParam.splcjg" v-bind:value="i.JGID" v-bind:key="k">{{ i.JGTYPENAME }}</i-option>
                </i-select>
            </i-col>
            <i-col span="2" class="RowTitle">
                描述
            </i-col>
            <i-col span="14" class="RowText">
                <i-input v-model="screenParam.BZ"></i-input>
            </i-col>
        </row>
    </Card>
}

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            商户
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.MERNAME" v-on:on-click="srchMerchant" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            纸质编号
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.CONTRACTID_PAPER" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            核算方式
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.STYLEMC" disabled />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            开始日期
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.CONT_START",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            结束日期
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.CONT_END",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            合同员
        </i-col>
        <i-col span="2" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.SIGNER_NAME" v-on:on-click="srchSigner" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            原合同号
        </i-col>
        <i-col span="2" class="RowText">
            <i-input readonly v-model="dataParam.CONTRACT_OLD" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            招商部门
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.ORGID",
                    ServiceMothod = m => m.org_zs()
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            合作方式
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.OPERATERULE",
                    ServiceMothod = m => m.operrule()
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            建筑面积
        </i-col>
        <i-col span="2" class="RowText">
            <i-input readonly v-model="dataParam.AREA_BUILD" v-bind:disabled="!disabled" />
        </i-col>

        <i-col span="2" class="RowTitle">
            租用面积
        </i-col>
        <i-col span="2" class="RowText">
            <i-input readonly v-model="dataParam.AREAR" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            装修期起
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.FIT_BEGIN",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            装修期至
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.FIT_END",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            进项税率
        </i-col>
        <i-col span="2" class="RowText">
            <input-number v-bind:max="1" v-bind:min="0" v-bind:step="0.01" v-model="dataParam.JXSL" v-bind:disabled="!disabled">
            </input-number>
        </i-col>
        <i-col span="2" class="RowTitle">
            销项税率
        </i-col>
        <i-col span="2" class="RowText">
            <input-number v-bind:max="1" v-bind:min="0" v-bind:step="0.01" v-model="dataParam.XXSL" v-bind:disabled="!disabled">
            </input-number>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            免租期起
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.FREE_BEGIN",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            免租期至
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.FREE_END",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            租金滞纳规则
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.ZNID_RENT",
                    ServiceMothod = m => m.LateFeeRule()
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            租金收费规则
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.FEERULE_RENT",
                    ServiceMothod = m => m.feeRule()
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            销售额标记
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<销售额标记>()
                {
                    vModel = "dataParam.TAB_FLAG"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            起始日清算
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<起始日清算>()
                {
                    vModel = "dataParam.QS_START"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">提前返款日</i-col>
        <i-col span="6" class="RowText">
            <i-select v-model="screenParam.TQFKR" multiple v-bind:disabled="!disabled">
                <i-option v-for="(i,k) in screenParam.fkrList" v-bind:value="i.value"
                          v-bind:key="k">{{ i.label }}</i-option>
            </i-select>
        </i-col>
        <i-col span="2" class="RowTitle" v-if="dataParam.CONTRACT_OLD">
            <span class="mustElement">*</span>
            变更日期
        </i-col>
        <i-col span="6" class="RowText" v-if="dataParam.CONTRACT_OLD">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.JHRQ",
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            其他条款
        </i-col>
        <i-col span="22" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DESCRIPTION",
                    type = "textarea",
                    rows = "2"
                });
            }
        </i-col>     
    </row>
    <row>
        <i-col span="12">
            <Card v-bind:padding=0>
                <p slot="title">品牌</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-if="disabled">
                        <i-button type="primary" v-on:click="srchBrand">选择</i-button>
                        <i-button type="primary" v-on:click="addRowBrand">添加一行</i-button>
                        <i-button type="error" v-on:click="delBrand">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colDefPP" v-bind:height="200" selection=true
                          v-bind:data="dataParam.CONTRACT_BRAND" v-bind:disabled="!disabled" ref="refBrand">
                </yx-table>
            </Card>
        </i-col>
        <i-col span="12">
            <Card v-bind:padding=0>
                <p slot="title">资产</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-if="disabled">
                        <i-button type="primary" v-on:click="srchShop">选择</i-button>
                        <i-button type="primary" v-on:click="addRowShop">添加一行</i-button>
                        <i-button type="error" v-on:click="delShop">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colDefSHOP" v-bind:height="200" selection=true
                          v-bind:data="dataParam.CONTRACT_SHOP" v-bind:disabled="!disabled" ref="refShop">
                </yx-table>
            </Card>
        </i-col>
    </row>
}
@section detailParam{
    <Tabs value="name1">
        <tab-pane label="费用设置" name="name1">
            <row>
                <i-col span="24">
                    <div class="tableBtnDiv" v-if="disabled">
                        <i-button type="primary" v-on:click="addColDefRENT">添加一行</i-button>
                        <i-button type="error" v-on:click="delColDefRENT">删除</i-button>
                        <i-button type="primary" v-bind:loading="screenParam.yearLoading" v-on:click="operPeriod">
                            <span v-if="!screenParam.yearLoading">按年度分解</span>
                            <span v-else>正在分解</span>
                        </i-button>
                        <i-button type="primary" v-bind:loading="screenParam.monthLoading" v-on:click="decompose">
                            <span v-if="!screenParam.monthLoading">按月度分解</span>
                            <span v-else>正在分解</span>
                        </i-button>
                    </div>
                </i-col>
                <i-col span="24">
                    <yx-table v-bind:columns="screenParam.colDefRENT" v-bind:height="200" selection=true
                              v-bind:data="dataParam.CONTRACT_RENT" v-bind:disabled="!disabled" ref="refRent">
                    </yx-table>
                </i-col>
            </row>
            <row>
                <i-col span="8">
                    <Card v-bind:padding=0>
                        <p slot="title">扣率组</p>
                        <div slot="extra">
                            <div v-if="disabled">
                                <i-button type="primary" v-on:click="addColGroup">添加一行</i-button>
                                <i-button type="error" v-on:click="delColGroup">删除</i-button>
                                <i-button type="primary" v-on:click="autoMakeGroup">自动生成扣点信息</i-button>
                            </div>
                        </div>
                        <yx-table v-bind:columns="screenParam.colGroup" v-bind:height="200" selection=true
                                  v-bind:data="dataParam.CONTRACT_GROUP" v-bind:disabled="!disabled" ref="refGroup">
                        </yx-table>
                    </Card>
                </i-col>
                <i-col span="16">
                    <Card v-bind:padding=0>
                        <p slot="title">扣率信息</p>
                        <div slot="extra">
                            <div v-if="disabled">
                                <i-button type="primary" v-on:click="addCONTJSKL">添加一行</i-button>
                                <i-button type="error" v-on:click="delCONTJSKL">删除</i-button>
                            </div>
                        </div>
                        <yx-table v-bind:columns="screenParam.colDefJskl" v-bind:height="200" selection=true
                                  v-bind:data="dataParam.CONTJSKL" v-bind:disabled="!disabled" ref="refJskl">
                        </yx-table>
                    </Card>
                </i-col>
            </row>
            <row>
                <i-col span="24">
                    <yx-table v-bind:columns="screenParam.colDefRENTITEM" v-bind:height="200"
                              v-bind:data="dataParam.CONTRACT_RENTITEM" v-bind:disabled="!disabled">
                    </yx-table>
                </i-col>
            </row>
        </tab-pane>
        <tab-pane label="费用项目" name="name2">
            <row>
                <i-col span="24">
                    <div class="tableBtnDiv" v-if="disabled">
                        <i-button type="primary" v-on:click="srchFeeSubject">选择</i-button>
                        <i-button type="primary" v-on:click="addRowFeeSubject">添加一行</i-button>
                        <i-button type="error" v-on:click="delFeeSubject">删除</i-button>
                    </div>
                </i-col>
                <i-col span="24">
                    <yx-table v-bind:columns="screenParam.colDefCOST" v-bind:height="300" selection=true
                              v-bind:data="dataParam.CONTRACT_COST" v-bind:disabled="!disabled" ref="refCost">
                    </yx-table>
                </i-col>
            </row>
        </tab-pane>
        <tab-pane label="收款方式" name="name3">
            <i-col span="24">
                <div class="tableBtnDiv" v-if="disabled">
                    <i-button type="primary" v-on:click="srchPay">选择</i-button>
                    <i-button type="primary" v-on:click="srchPayCost">选择费用项目</i-button>
                    <i-button type="error" v-on:click="delPay">删除</i-button>
                </div>
            </i-col>
            <i-col span="24">
                <yx-table v-bind:columns="screenParam.colDefPAY" v-bind:height="300" selection=true
                          v-bind:data="dataParam.CONTRACT_PAY" v-bind:disabled="!disabled" ref="refPay">
                </yx-table>
            </i-col>
        </tab-pane>
    </Tabs>
}

@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showSysuser",
            Caption = "选择人员",
            Width = "900",
            Src = "screenParam.srcPopSigner"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopMerchant",
            Caption = "选择商户",
            Width = "900",
            Src = "screenParam.srcPopMerchant"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopBrand",
            Caption = "选择品牌",
            Width = "900",
            Src = "screenParam.srcPopBrand"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopShop",
            Caption = "选择商铺",
            Width = "900",
            Src = "screenParam.srcPopShop"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopFeeSubject",
            Caption = "选择费用项目",
            Width = "900",
            Src = "screenParam.srcPopFeeSubject"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopPay",
            Caption = "选择收款方式",
            Width = "900",
            Src = "screenParam.srcPopPay"
        });
    }
}
