#DefineDetail {
    overflow: hidden;
    height: 100%;
}

    #DefineDetail .contentDiv {
        height: calc(100% - 50px);
        overflow: auto;
        margin: 5px;
    }

    #DefineDetail .btnDiv {
        text-align: center;
        height: 50px;
        line-height: 45px;
        background:#2d8cf0;
    }

    #DefineDetail .ivu-table .demo-table-info-row td {
        height: 35px;
    }

    #DefineDetail .ivu-table .demo-table-error-row td {
        height: 35px;
    }

    #DefineDetail .btnDiv .ivu-btn {
        color: #fff;
    }

        #DefineDetail .btnDiv .ivu-btn:hover {
            color: #000000;
        }

    #DefineDetail .ivu-collapse-header {
        height: 35px !important;
        line-height: 35px !important;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        background: #2d8cf0;
    }

    #DefineDetail .searchParamContent {
        padding-top: 10px;
    }

    #DefineDetail .ivu-collapse-content {
        width: 100%;
        height: 100%;
        padding: 0 !important;
    }

        #DefineDetail .ivu-collapse-content > .ivu-collapse-content-box {
            padding: 0 !important;
        }
