@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="3" class="RowTitle">门店</i-col>
        <i-col span="9" class="RowText">
            <yx-select v-bind:value.sync="searchParam.BRANCHID" method="branch" v-on:change="branchChange" v-bind:disabled="!disabled"></yx-select>
        </i-col>
    </row>
}
@section element{
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            区域代码
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.CODE" v-bind:disabled="disabled" />
        </i-col>

        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            区域名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.NAME" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            管理机构
        </i-col>
        <i-col span="6" class="RowText">
            <yx-cascader v-bind:value.sync="dataParam.ORGIDCASCADER" method="GetTreeOrg" notlevellast
                         v-on:change="orgChange" v-bind:disabled="disabled"></yx-cascader>
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            建筑面积
        </i-col>
        <i-col span="6" class="RowText">
            <i-input type="number" v-model="dataParam.AREA_BUILD" v-bind:disabled="disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">使用面积</i-col>
        <i-col span="6" class="RowText">
            <i-input type="number" v-model="dataParam.AREA_USABLE" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="3" class="RowTitle">租赁面积</i-col>
        <i-col span="6" class="RowText">
            <i-input type="number" v-model="dataParam.AREA_RENTABLE" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">停用标记</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumCheckBoxListRender<停用标记>()
                {
                    vModel = "dataParam.STATUS",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>
    </row>
}