@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="5" class="RowTitle">预警代码</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.ID",
                });
            }
        </i-col>
        <i-col span="5" class="RowTitle">预警名称</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.MC",
                });
            }
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender
                {
                    vModel = "dataParam.ID",
                    Id = "tb_id",
                    Readonly="true"
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender
                {
                    vModel = "dataParam.MC",
                    Id = "tb_name",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            显示顺序
        </i-col>
        <i-col span="3">
            @{
                RenderControl(new TextBoxRender
                {
                    vModel = "dataParam.XSSX",
                    Id = "tb_xxsx",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            SQL设置
        </i-col>
        <i-col span="21">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.SQLSTR",
                    type = "textarea",
                    rows = "5",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row></row>
    <row v-if="!disabled">
        <i-button type="primary" v-on:click="addCol">添加一行</i-button>
        <i-button type="error" v-on:click="delCol">删除</i-button>
    </row>
    <row>
        <i-col span="24">
            <yx-table v-bind:columns="screenParam.colAlertField" v-bind:height="270" selection=true
                      v-bind:data="dataParam.ALERT_FIELD" v-bind:disabled="disabled" ref="selectAlert">
        </i-col>
    </row>


}
