@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender
                {
                    vModel = "dataParam.ID",
                    Id = "tb_id",
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender
                {
                    vModel = "dataParam.MC",
                    Id = "tb_name",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            显示顺序
        </i-col>
        <i-col span="3">
            @{
                RenderControl(new TextBoxRender
                {
                    vModel = "dataParam.XSSX",
                    Id = "tb_xxsx",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            SQL设置
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.SQLSTR",
                    type = "textarea",
                    rows = "20",
                    Enable = false
                });
            }
        </i-col>


        <i-col span="15">
            <span class="mustElement">显示设置</span>
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "addCol",
                    Text = "添加一行",
                    Enable = false,
                    Type = "primary",
                    Icon = "plus-circled"
                });
            }
            @{
                RenderControl(new ButtonRender()
                {
                    Click = "delCol",
                    Text = "删除一行",
                    Enable = false,
                    Type = "error",
                    Icon = "minus-circled"
                });
            }
            <i-table size="small" :border="true"
                     :columns="screenParam.colAlertField" :data="dataParam.ALERT_FIELD" ref="selectAlert"></i-table>
        </i-col>
    </row>

}
