@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="5" class="RowTitle">预警代码</i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="searchParam.ID" />
        </i-col>
        <i-col span="5" class="RowTitle">预警名称</i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="searchParam.MC" />
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            <i-input v-model="dataParam.ID" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6">
            <i-input v-model="dataParam.MC" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            显示顺序
        </i-col>
        <i-col span="3">
            <i-input v-model="dataParam.XSSX" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            SQL设置
        </i-col>
        <i-col span="21">
            <i-input type = "textarea"  :rows = "5" v-model="dataParam.SQLSTR" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title"><span class="mustElement">*</span>显示字段</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-if="!disabled">
                        <i-button type="primary" v-on:click="addCol">添加一行</i-button>
                        <i-button type="error" v-on:click="delCol">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colAlertField" v-bind:height="270" selection
                          v-bind:data="dataParam.ALERT_FIELD" v-bind:disabled="disabled" ref="selectAlert"></Card>
        </i-col>
    </row>
}
