@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section element{
    <row>
        <i-col span="3" class="RowTitle">分店代码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ID"
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">
            <span class="mustElement">!</span>
            分店名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NAME",
                    Enable=false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">!</span>
            管理部门
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.ORGID",
                    ServiceMothod = m => m.org_hs(),
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">
            <span class="mustElement">!</span>
            建筑面积
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AREA_BUILD",
                    Enable=false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">使用面积</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AREA_USABLE",
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">租赁面积</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AREA_RENTABLE",
                    Enable=false
                });
            }
        </i-col>
    </row>

    
    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">!</span>
            停用标记
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<停用标记>()
                {
                    vModel = "dataParam.STATUS",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">打印标题</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PRINTNAME",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">联系人</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.CONTACT",
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">电话</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.CONTACT_NUM",
                    Enable=false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">地址</i-col>
        <i-col span="15">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ADDRESS",
                    Enable = false
                });
            }
        </i-col>
    </row>
}