@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                };
}

@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)

    <style>
        #List_Main {
            overflow: hidden;
            height: 100%;
        }
            #List_Main .contentDiv {
                height: 100%;
                overflow: auto;
                width: 100%;
            }
    </style>

}


<div id="List_Main">
    <div class="contentDiv">
        @RenderSection("content", true)
    </div>
</div>

@section foot{
    @RenderSection("foot", false)
}