@using z.ERP.Web.Areas.Layout.Edit
@inherits EditViewBase<string>

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.NAME" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            业态
        </i-col>
        <i-col span="6" class="RowText">
            <yx-cascader v-bind:value.sync="dataParam.CATEGORYIDCASCADER" method="GetTreeCategory"
                         v-on:change="categoryChange" v-bind:disabled="!disabled"></yx-cascader>
        </i-col>
        <i-col span="2" class="RowTitle">
            地址
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ADRESS" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            联系人
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.CONTACTPERSON" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            电话
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.PHONENUM" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            微信
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.WEIXIN" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            邮编
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.PIZ" v-bind:disabled="!disabled" />
        </i-col>

        <i-col span="2" class="RowTitle">
            QQ
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.QQ" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}