@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Web.Areas.Layout.Define
@using z.ERP.Entities.Enum
@inherits DefineViewBase

@section element{
    <row>
        <i-col  span="4" class="RowTitle">
            滞纳规则代码
        </i-col>
        <i-col span="6">
         @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ID",
                    Id = "tb_id",
                    Enable = true
                });
           } 
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            滞纳规则名称
        </i-col>
        <i-col span="6">
            @{ 
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.NAME",
                    Id = "tb_name",
                    Enable = false,
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            滞纳金比例(%/天)
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.RATIO",
                    Id = "tb_ratio",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            宽限天数
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DAYS",
                    Id = "tb_days",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
           <span class="mustElement">*</span> 
            宽限金额
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.AMOUNTS",
                    Id = "tb_amounts",
                    Enable = false
                });
            }
        </i-col>
    </row> 

 
}