@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section element{
    <row>
        <span v-if="screenParam.componentVisible">
            <i-col span="3" class="RowTitle">用户编码</i-col>
            <i-col span="6">
                @{
                    RenderControl(new TextBoxRender()
                    {
                        vModel = "dataParam.USERID"
                    });
                }
            </i-col>
        </span>
        <i-col span="3" class="RowTitle">用户代码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.USERCODE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">用户名称</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.USERNAME",
                    Enable = false
                });
            }
        </i-col>
    </row>



    <row>
        <i-col span="3" class="RowTitle">用户类型</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<用户类型>()
                {
                    vModel = "dataParam.USER_TYPE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">所属机构</i-col>
        <i-col span="6">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.ORGIDCASCADER",
                    Data = "screenParam.ORGData",
                    Change = "orgChange",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">用户标记</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.USER_FLAG",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">用户密码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PASSWORD",
                    type = "password",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">作废标记</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        @{
            RenderControl(new ButtonRender()
            {
                //Click = "SelRole",
                Text = "添加角色",
                Enable = true,
                Type = "primary",
                Icon = "plus-circled"
            });
        }

    </row>
    <row>
        <i-col span="24">
            <i-table size="small" border="true"
                     :columns="screenParam.colUserRoleDef" :data="dataParam.USER_ROLE"></i-table>
        </i-col>
    </row>



}
