@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="3" class="RowTitle">代码</i-col>
        <i-col span="5" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.USERCODE"
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">名称</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "searchParam.USERNAME"
                });
            }
        </i-col>
    </row>
}
@section element{
    <row>
        <span v-if="screenParam.componentVisible">
            <i-col span="3" class="RowTitle">用户编码</i-col>
            <i-col span="6"  class="RowText">
                @{
                    RenderControl(new TextBoxRender()
                    {
                        vModel = "dataParam.USERID"
                    });
                }
            </i-col>
        </span>
        <i-col span="3" class="RowTitle">用户代码</i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.USERCODE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            用户名称
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.USERNAME",
                    Enable = false
                });
            }
        </i-col>
    </row>



    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span>
            用户类型
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<用户类型>()
                {
                    vModel = "dataParam.USER_TYPE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">*</span> 
            所属机构
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.ORGIDCASCADER",
                    Data = "screenParam.ORGData",
                    Change = "orgChange",
                    Not_level_last = true,
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            店铺
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? '':'md-search'"
                     v-model="dataParam.SHOPCODE" v-on:on-click="SelShop"
                     v-bind:disabled="disabled? true:false" />
        </i-col>

        <i-col span="3" class="RowTitle">用户密码</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PASSWORD",
                    type = "password",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="3" class="RowTitle">用户标记</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<用户标记>()
                {
                    vModel = "dataParam.USER_FLAG",
                    Enable = false
                });
            }
        </i-col>

        <i-col span="3" class="RowTitle">作废标记</i-col>
        <i-col span="6" class="RowText">
            @{ 
                RenderControl(new EnumDropDownListRender<标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title">角色</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-if="!disabled">
                        <i-button type="primary" v-on:click="SelRole">选择</i-button>
                        <i-button type="error" v-on:click="DelRole">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colUserRoleDef" v-bind:height="300" selection=true
                          v-bind:data="dataParam.USER_ROLE" ref="roleRef">
                </yx-table>
            </Card>
        </i-col>
    </row>
}

@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopRole",
                    Src = "screenParam.srcPopRole",
                    Caption = "选择角色",
                    Width = "800"
                });
            }
        </i-col>
    </row>

    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopShop",
                    Src = "screenParam.srcPopShop",
                    Caption = "选择店铺",
                    Width = "800"
                });
            }
        </i-col>
    </row>

}
