<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SSOSettings" type="z.SSO.Model.SSOSettings, z.SSO" />
  </configSections>
  <appSettings>
    <add key="connection" value="data source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP) (HOST = 47.93.116.29) (PORT = 1521) ) (CONNECT_DATA = (SERVICE_NAME = GYL) ) ); User Id = MALL_USER; Password = WLSXJZ;Pooling=true;Max Pool Size=10;Min Pool Size=5" />
    <add key="TestModel" value="false" />
    <!--<add key="TestModel" value="true:4" />-->
  </appSettings>
  <SSOSettings WcfUrl="http://localhost:59000/svc/SSOService.svc" User="admin" Password="admin" Type="SERVICE"></SSOSettings>
</configuration>