<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPOSService" />
                <binding name="BasicHttpBinding_IPOSService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iz28688f5stz:7019/ABCWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOSService"
                contract="PosServiceAPI.IPOSService" name="BasicHttpBinding_IPOSService" />
            <endpoint address="http://iz28688f5stz:7019/ABCWcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPOSService1"
                contract="PosServiceAPI.IPOSService" name="BasicHttpBinding_IPOSService1" />
        </client>
    </system.serviceModel>
</configuration>