@using z.ERP.Web.Areas.Layout.Empty
@inherits EmptyViewBase

@section head{
    <style>
        #List_Main .ivu-tree .ivu-tree-children .nodeClass:hover {
            cursor: pointer;
            background: #d5e8fc;
        }

        #List_Main .ivu-tree .ivu-input {
            height: 24px;
        }

        .sysfuncconfig .ivu-modal-body .ivu-btn {
            color: #ffffff;
        }

            .sysfuncconfig .ivu-modal-body .ivu-btn:hover {
                color: #000000;
            }

        .sysfuncconfig .ivu-modal-content .ivu-modal-header {
            padding: 10px !important;
        }

        .sysfuncconfig .ivu-modal-header .ivu-modal-header-inner {
            color: #ffffff;
        }
    </style>
}
@section content{
    <Card>
        <Tree v-bind:data="treeData" v-bind:render="renderContent"></Tree>
    </Card>
    <Modal v-model="modalValue" draggable footer-hide transfer title="添加" class="sysfuncconfig">
        <div style="height:calc(100% - 35px);">
            <row>
                <i-col class="RowTitle" span="4">
                    <span class="mustElement">*</span>
                    名称
                </i-col>
                <i-col class="RowText" span="20">
                    <i-input clearable v-model="dataParam.NAME" />
                </i-col>
            </row>
            <row>
                <i-col class="RowTitle" span="4">
                    ICON
                </i-col>
                <i-col class="RowText" span="20">
                    <i-input clearable v-model="dataParam.ICON" />
                </i-col>
            </row>
            <row>
                <i-col class="RowTitle" span="4">
                    类型
                </i-col>
                <i-col class="RowText" span="8">
                    <i-select v-model="searchParam.TYPE">
                        <i-option value="1" key="1">已添加</i-option>
                        <i-option value="2" key="2">未添加</i-option>
                    </i-select>
                </i-col>
                <i-col class="RowTitle" span="4">
                    菜单名称
                </i-col>
                <i-col class="RowText" span="8">
                    <i-input clearable v-model="searchParam.NAME" />
                </i-col>
            </row>
            <row>
                <i-col class="RowText" span="24">
                    <yx-table v-bind:columns="columns" selection v-bind:data="tableData"
                              v-bind:height="300" v-bind:loading="tbLoading" ref="selectData">
                    </yx-table>
                </i-col>
            </row>
        </div>
        <div style="height:35px;background:#0099ff;">
            <row>
                <i-col style="text-align: center;">
                    <i-button type="text" v-on:click="search" shape="circle" icon="md-search">查询</i-button>
                    <i-button type="text" v-on:click="addNew" shape="circle" icon="md-add">新建</i-button>
                    <i-button type="text" v-on:click="sureNew" shape="circle" icon="md-search">确认</i-button>
                </i-col>
            </row>
        </div>
    </Modal>
}
