@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.List
@inherits ListViewBase

@section tjbtn{
    @{
        RenderControl(new ButtonRender()
        {
            Click = "Search",
            Text = "查询"
        });
    }
    <span>|</span>
    <i-button type="text" v-on:click="Save">保存</i-button>
}

@section tj{
    <row>
        <i-col span="2" class="RowTitle">
            组织ID
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "SearchData.ORGID",
                    Id = "tb_temp",
                    Placeholder = "hahahaha"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            组织CODE
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new UndefineRender()
                {
                    vModel = "SearchData.ORGCODE"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            组织类型
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<部门类型>()
                {
                    vModel = "SearchData.ORG_TYPE",
                    MultiSelect = true
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            所在商场
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "SearchData.b",
                    ServiceMothod = m => m.b()
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            创建日期
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "SearchData.CREATE_TIME"
                });
            }
        </i-col>
    </row>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}

@section jg{
    <row>
        <i-table border columns="colBm" data="dataBm"></i-table>
    </row>
}
