@using z.ERP.Web.Areas.Share.Render
@inherits z.MVC5.Views.ListViewPage

@section tjbtn{
    <i-button type="text" v-on:click="Search">查询</i-button>
    <span>|</span>
    <i-button type="text" v-on:click="Save">保存</i-button>
}

@section tj{
    <row>
        <i-col span="2" class="RowTitle">
            ID
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "SearchData.DEPT_NAME",
                    Id = "tb_temp",
                    Placeholder = "hahahaha"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new UndefineRender()
                {
                    vModel = "SearchData.DEPT_NAME"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            部门
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.DEPT_NAME" placeholder="Enter something...">
            </i-input>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            ID
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.DEPTID" placeholder="Enter something...">
            </i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            名称
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.DEPT_NAME" placeholder="Enter something...">
            </i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            部门
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.DEPT_NAME" placeholder="Enter something...">
            </i-input>
        </i-col>
    </row>
}

@section jg{
    <row>
        <i-table border columns="colBm" data="dataBm"></i-table>
    </row>
}
