@inherits z.MVC5.Views.ListViewPage

@section tjbtn{
    <i-button type="text" v-on:click="Search">查询</i-button>
    <span>|</span>
    <i-button type="text" v-on:click="Clear">清空</i-button>
    <span>|</span>
    <i-button type="text" v-on:click="Save">保存</i-button>
}

@section tj{
    <formitem>
    <row>
        <i-col span="2" class="RowTitle">
            代码
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.CODE"></i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            名称
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.NAME"></i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            业态
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.CATEGORYID"></i-input>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            地址
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.ADRESS"></i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            联系人
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.CONTACTPERSON"></i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            电话
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.PHONENUM"></i-input>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            邮编
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.PIZ"></i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            微信
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.WEIXIN"></i-input>
        </i-col>
        <i-col span="2" class="RowTitle">
            QQ
        </i-col>
        <i-col span="6">
            <i-input v-model="SearchData.QQ"></i-input>
        </i-col>
    </row>
</formitem>
}
@section jg{
    <row>
        <i-table border :columns="colBRAND" :data="dataBRAND"></i-table>
    </row>
}