<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Settings" type="z.ATR.WinService.Model.Settings, z.ATR.WinService" />
  </configSections>
  <Settings Type="Seconds" Pram="20" MethodName=""></Settings>
  <appSettings>
    <add key="connection" value="data source= (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP) (HOST = 113.133.162.90) (PORT = 1521) ) (CONNECT_DATA = (SERVICE_NAME = YXMALL) ) ); User Id = MALL_USER; Password = WLSXJZ;Pooling=true;Max Pool Size=10;Min Pool Size=5" />
    <add key="SleepSecond" value="5" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>