@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities.Enum
@inherits EditViewBase<string>

@section head{

    @InitFiles(new string[] {
    "/Areas/Pop/PopMerchant.js",
    });
}

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            被投诉部门
        </i-col>
        <i-col span="6" class="RowText">
            <yx-select v-bind:value.sync="dataParam.DEPTID" method="org_zs" v-bind:disabled="!disabled"></yx-select>
        </i-col>
        <i-col span="2" class="RowTitle">
            店铺
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.NAME" v-on:on-click="SelShop" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            品牌
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.BRANDNAME" v-on:on-click="SelBrand" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            被投诉人
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.PERSON_NAME",
                    Enable = true
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            投诉处理部门
        </i-col>
        <i-col span="6"  class="RowText">
            <yx-select v-bind:value.sync="dataParam.CPLAINDEPT" method="comPlainDept" v-bind:disabled="!disabled"></yx-select>
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            投诉类型
        </i-col>
        <i-col span="6"  class="RowText">
            <yx-select v-bind:value.sync="dataParam.CPLAINTYPE" method="comPlainType" v-bind:disabled="!disabled"></yx-select>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            投诉日期
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new DateBoxRender()
                {
                    vModel = "dataParam.CPLAINDATE"
                });
            }
        </i-col>    
        <i-col span="2" class="RowTitle">            
            投诉人
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.CPLAINPERSON_NAME"
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            投诉人电话
        </i-col>
        <i-col span="6"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.CPLAINPHONE"
                });
            }
        </i-col>                         
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            投诉内容
        </i-col>
        <i-col span="14"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.CPLAINTEXT",
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            处理结果
        </i-col>
        <i-col span="14"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DISPOSERESULT",
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            描述
        </i-col>
        <i-col span="14"  class="RowText">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.DESCRIPTION",
                });
            }
        </i-col>
    </row>
}

@section detailParam{

}

@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopBrand",
                    Caption = "选择品牌",
                    Width = "900",
                    Src = "screenParam.srcPopBrand"
                });
            }
        </i-col>
    </row>

    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopShop",
                    Caption = "选择店铺",
                    Width = "900",
                    Src = "screenParam.srcPopShop"
                });
            }
        </i-col>
    </row>

}