@using z.ERP.Web.Areas.Share.Render
@inherits z.ERP.Web.Areas.Share.ControlViewBase<WindowRender>


    <modal id="@Model.Id" v-model="@Model.vModel"
           title="Common Modal dialog box title" 
        @@on-ok="alert(1)"
        @@on-cancel="alert(1)">
        <p>Content of dialog</p>
        <p>Content of dialog</p>
        <p>Content of dialog</p>
    </modal>

