@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>

        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="14" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}
@section detailParam{
<row>
    <i-col span="24">
        <Card v-bind:padding=0>
            <p slot="title">商铺</p>
            <div slot="extra">
                <i-button type="primary" v-on:click="SelShop">选择</i-button>
                <i-button type="error" v-on:click="delShop">删除</i-button>
            </div>
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300" selection=true
                      v-bind:data="dataParam.ASSETCHANGEITEM" v-bind:disabled="!disabled" ref="refGroup">
            </yx-table>
        </Card>
    </i-col>
</row>
}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopShop",
            Src = "screenParam.srcPopShop",
            Caption = "选择单元",
            Width = "800"
        });
    }
}


