@inherits z.MVC5.Views.DefineViewBase
@using z.ERP.Web.Areas.Share.Render

@{
    WebFiles = new string[] {
                    "Content/VUE/styles/iview.css",
                    "Content/VUE/vue.js",
                    "Content/VUE/iview.js",
                    "Content/LayOut/_DefineLayout.js"
                };
}
@section head{
    @InitFiles(WebFiles)
    @RenderSection("head", false)
}
<style>
    .RowTitle {
        text-align: right;
        font-size: small;
    }
</style>

<div id="def_Main">
    <row>

        @{
            RenderControl(new ButtonRender()
            {
                Click = "add",
                Text = "新增",
                disabled = "!disabled"
            });
        }
        <span>|</span>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "mod",
                Text = "修改",
                disabled = "!disabled"
            });
        }
        <span>|</span>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                disabled = "disabled"
            });
        }
        <span>|</span>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                disabled = "disabled"
            });
        }
        <span>|</span>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "del",
                Text = "删除",
                disabled = "!disabled"
            });
        }
    </row>
     <row>
         <i-col span="8">
             <card>
                 <p slot="title">列表信息</p>
                 <i-table :highlight-row="true" size="small" :border="true"
                          :columns="screenParam.colDef" :data="screenParam.dataDef" 
                          v-on:on-current-change="currentData"></i-table>
             </card>
         </i-col>

        <i-col span="16">
           <card>
              <p slot="title">包含元素</p>
              @RenderSection("element", true)
           </card>
        </i-col>
     </row>
</div>

@section foot{
    @RenderSection("foot", false)
}