@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Empty
@inherits EmptyViewBase

@section btn{
    @{
        RenderControl(new ButtonRender()
        {
            Click = "exportPz",
            Text = "导出",     
        });
    }
}

@section content{
    <row>
        <i-col span="8">
            <div ref="tableHeight">
                <card style="height:100%">
                    @*<p slot="title">列表信息</p>*@
                    <div style="height:8%">      
                        
                    </div>
                    <i-table :highlight-row="true" size="small" :border="true" 
                             :columns="colDef" :data="dataDef"
                             v-on:on-current-change="select"></i-table>
                </card>
            </div>
        </i-col>
        <i-col span="16">
            <div ref="cardHeigth">
                <card class="elementcard" style="height:500px">
                    @*<p slot="title">包含元素</p>*@
                    <row>
                        <i-col span="3" class="RowTitle"> 
                            <span class="mustElement">*</span>                           
                            门店
                        </i-col>
                        <i-col span="8">
                            <yx-select v-bind:value.sync="BRANCHID" method="branch"></yx-select>
                        </i-col>
                    </row>
                    <row>
                        <i-col span="3" class="RowTitle">    
                            <span class="mustElement">*</span>                        
                            年月
                        </i-col>
                        <i-col span="8">
                            @{
                                RenderControl(new TextBoxRender()
                                {
                                    vModel = "CWNY",
                                });
                            }
                        </i-col>
                    </row>
                    <row>
                        <i-col span="3" class="RowTitle">
                            日期
                        </i-col>
                        <i-col span="8">
                            @{
                                RenderControl(new DateBoxRender()
                                {
                                    vModel = "RQ_START"
                                });
                            }
                        </i-col>
                        <i-col span="8">
                            @{
                                RenderControl(new DateBoxRender()
                                {
                                    vModel = "RQ_END"
                                });
                            }
                        </i-col>
                    </row>
                    <row>
                        <i-col span="3" class="RowTitle">
                            <span class="mustElement">*</span>
                            凭证日期
                        </i-col>
                        <i-col span="8">
                            @{
                                RenderControl(new DateBoxRender()
                                {
                                    vModel = "PZRQ"
                                });
                            }
                        </i-col>
                    </row>
                </card>
            </div>
        </i-col>
    </row>
}