@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Tree
@inherits TreeViewBase

@section element{
    <row>
        <i-col span="3" class="RowTitle">
            代码
        </i-col>
        <i-col span="6" class="Rowline">
            &nbsp;{{dataParam.ORGCODE}}
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">!</span>
            名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ORGNAME",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            <span class="mustElement">!</span>
            类型
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<部门类型>()
                {
                    vModel = "dataParam.ORG_TYPE",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            末级标记
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<末级标记>()
                {
                    vModel = "dataParam.LEVEL_LAST",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="3" class="RowTitle">
            停用标记
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumDropDownListRender<停用标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    Enable = false
                });
            }
        </i-col>
    </row>
}
