#defineNew {
    overflow: hidden;
}

    #defineNew .ivu-table .demo-table-info-row td {
        height: 35px;
    }

    #defineNew .ivu-table .demo-table-error-row td {
        height: 35px;
    }

    #defineNew .ivu-collapse-header .ivu-btn {
        color: #fff;
    }

        #defineNew .ivu-collapse-header .ivu-btn:hover {
            color: #000000;
        }

    #defineNew .ivu-collapse-header {
        height: 35px !important;
        line-height: 35px !important;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        background: #2d8cf0;
    }

    #defineNew .searchParamContent {
        padding-top: 10px;
    }

    #defineNew .ivu-page {
        padding-left: 15px;
    }

    #defineNew .ivu-collapse-content {
        width: 100%;
        height: 100%;
        padding: 0 !important;
    }

        #defineNew .ivu-collapse-content > .ivu-collapse-content-box {
            padding: 0 !important;
        }
