@inherits ViewBase<dynamic>
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Areas/BJGL/MAPSHOW/MAPSHOW.js"
                };
}
@section head{    
    @InitFiles(new string[] {
        "/Content/three/three.js",
        "/Content/three/Earcut.js",
        "/Content/three/OrbitControls.js"
    })
    <style>
        #MapShow {
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
            #MapShow .ivu-split-pane {
                margin: 8px;
                overflow: auto;
            }
        .ivu-split-horizontal .ivu-split-trigger-con {
            display:none
        }
        .ivu-split-pane.right-pane {
            border-left:1px solid #e8eaec;
        }
    </style>
}

<div id="MapShow">
    <div>
        <Drawer title="Basic Drawer" v-model="DrawerModel">
            <p>Some contents...</p>
            <p>Some contents...</p>
            <p>Some contents...</p>
        </Drawer>
    </div>  
    <Split v-model="splitVal">
        <div slot="left" class="leftPane" ref="tree">
            <yx-tree ref="treeRef" v-bind:data="data" v-on:onselectchange="onselectchange"
                     v-bind:showcheckbox="false"></yx-tree>
        </div>
        <div slot="right" class="rightPane">           
            <div ref="maps" style="height:100%;width:100%"></div>            
        </div>       
    </Split>

</div>