@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            商户
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.MERCHANTNAME" v-on:on-click="SelMerchant" v-on:on-change="balance" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收费单位
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.FEE_ACCOUNT_ID",
                    ServiceMothod = m => m.feeAccount(),
                    Change = "balance"
                });
            }

        </i-col>
        <i-col span="2" class="RowTitle">
            状态
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<普通单据状态>()
                {
                    vModel = "dataParam.STATUS",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            收款年月
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-model="dataParam.NIANYUE" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            商户余额
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-model="dataParam.MERCHANT_MONEY" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            付款方式
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.FKFSID",
                    ServiceMothod = m => m.fkfs(),
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            付款金额
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-model="dataParam.ALL_MONEY" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            冲销预付款
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-model="dataParam.ADVANCE_MONEY" v-on:on-change="YfkChange" type="number" v-bind:disabled="!disabled" />
        </i-col>
        &nbsp;&nbsp;付款金额 + 冲销预付款金额 = 明细付款金额之和
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22" class="RowText">
            <i-input readonly v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}
@section detailParam{
    <row>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "SelBill",
                Text = "选择账单",
                Enable = true,
                Type = "primary",
                Icon = "plus-circled"
            });
        }
        <i-col span="24">
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300"
                      v-bind:data="dataParam.BILL_OBTAIN_ITEM" v-bind:disabled="!disabled" ref="refGroup">
            </yx-table>
        </i-col>

    </row>
    <br />
    <br />
    <row>
        @{
            RenderControl(new ButtonRender()
            {
                Click = "SelInvoice",
                Text = "选择发票",
                Enable = true,
                Type = "primary",
                Icon = "plus-circled"
            });
        }
        <i-col span="24">
            <yx-table v-bind:columns="screenParam.colDefI" v-bind:height="300"
                      v-bind:data="dataParam.BILL_OBTAIN_INVOICE" v-bind:disabled="!disabled" ref="refShop">
        </i-col>
    </row>

}

@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopBill",
            Caption = "选择账单",
            Width = "900",
            Src = "screenParam.srcPopBill"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopMerchant",
            Caption = "选择商户",
            Width = "900",
            Src = "screenParam.srcPopMerchant"
        });
    }
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopInvoice",
            Caption = "选择发票",
            Width = "900",
            Src = "screenParam.srcPopInvoice"
        });
    }
}

