@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.NAME" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            商户类型
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<商户类型>()
                {
                    vModel = "dataParam.TYPE",
                    Enable = true
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
           营业执照号
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.LICENSE" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            身份证号
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.IDCARD" v-bind:disabled="!disabled" />
        </i-col>
     </row>
     <row>
        <i-col span="2" class="RowTitle">
            税号
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.SH" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            银行名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.BANK_NAME" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            银行账号
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.BANK" v-bind:disabled="!disabled" />
        </i-col>
    </row>


    <row>
        <i-col span="2" class="RowTitle">
            地址
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ADRESS" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            联系人
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.CONTACTPERSON" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            电话
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.PHONE" v-bind:disabled="!disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="2" class="RowTitle">
            邮编
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.PIZ" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            微信
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.WEIXIN" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            QQ
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.QQ" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}
@section detailParam{
<row>
    <i-col span="24">
        <Card v-bind:padding=0>
            <p slot="title">品牌</p>
            <div slot="extra" v-show="disabled">
                <i-button type="primary" v-on:click="srchColPP">选择</i-button>
                <i-button type="error" v-on:click="delColPP">删除</i-button>
            </div>
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="300" selection=true
                      v-bind:data="dataParam.MERCHANT_BRAND" v-bind:disabled="!disabled" ref="refGroup">
            </yx-table>
        </Card>
    </i-col>
</row>
}
@section pops{
    @{
        RenderControl(new PopsRender()
        {
            vModel = "screenParam.showPopBrand",
            Caption = "选择品牌",
            Width = "900",
            Src = "screenParam.srcPopBrand"
        });
    }
}
