<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PosWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://113.133.162.90:9997/ABCService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PosWebServiceSoap"
                contract="CrmServiceAPI.PosWebServiceSoap" name="PosWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>