@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Web.Areas.Layout.Define
@using z.ERP.Entities.Enum
@inherits DefineViewBase

@section element{
    <row>
        <i-col span="4" class="RowTitle">
            收费规则代码
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ID" disabled />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            收费规则名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.NAME" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            缴费周期(月)
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.PAY_CYCLE" v-bind:disabled="disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            出单日期
        </i-col>
        <i-col span="3" class="RowText">
            <i-input v-model="dataParam.FEE_DAY" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="1" class="RowTitle">或</i-col>
        <i-col span="2" class="RowText">
            @{
                RenderControl(new EnumCheckBoxListRender<月末标记>()
                {
                    vModel = "dataParam.FEE_DAY",
                    Enable = false,
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            提前周期(月)
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ADVANCE_CYCLE" v-bind:disabled="disabled" />
        </i-col>
        <i-col>提前周期为-1时，出单日期中所填数值表示提前多少天出单</i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            缴费截至日
        </i-col>
        <i-col span="3" class="RowText">
            <i-input v-model="dataParam.UP_DATE" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="1" class="RowTitle">或</i-col>
        <i-col span="2" class="RowText">
            @{
                RenderControl(new EnumCheckBoxListRender<月末标记>()
                {
                    vModel = "dataParam.UP_DATE",
                    Enable = false,
                });
            }
        </i-col>

    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            缴费截至周期(月)
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.PAY_UP_CYCLE" v-bind:disabled="disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            作废标记
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<停用标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    Id = "tb_voidflag",
                    Enable = false
                });
            }
        </i-col>
    </row>
}