@inherits ViewBase<dynamic>
@using z.ERP.Web.Areas.Share.Render
@using z.MVC5.Views
@{
    Layout = ThisLayout;
}
@{
    WebFiles = new string[] {
                    "Content/VUE/styles/iview.css",
                    "Content/VUE/vue.js",
                    "Content/VUE/iview.js",
                    "/Areas/XTGL/PERIOD/Period.js"                    
                };
}
@section head{
    @InitFiles(WebFiles)
}
@*<style>
    .RowTitle {
        text-align: right;
        font-size: small;
    }

    .elementcard .ivu-row {
        height: 50px;
    }

    .topbutton .ivu-btn {
        margin-left: 10px;
    }
</style>*@

<div id="def_Main">
    @*<row class="topbutton">

        @{
            RenderControl(new ButtonRender()
            {
                Click = "mod",
                Text = "修改",
                //Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "save",
                Text = "存档",
                Enable = false
            });
        }
        @{
            RenderControl(new ButtonRender()
            {
                Click = "quit",
                Text = "放弃",
                Enable = false
            });
        }
    </row>*@
    @*<row>
        <i-col span="8">
            <card>
                <p slot="title">列表信息</p>
       
                <i-table highlight-row="true" size="small" border="true"
                         columns="colDef" data="dataDef"></i-table>
            </card>
        </i-col>

        <i-col span="16">
            <card class="elementcard">
                <p slot="title">包含元素</p>
         
            </card>
        </i-col>
    </row>*@
</div>
