@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            商户
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.MERCHANTNAME" v-on:on-click="selMerchant" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收款年月
        </i-col>
        <i-col span="6" class="RowText">
            <yx-year-month-picker v-bind:value.sync="dataParam.NIANYUE" v-bind:disabled="!disabled"></yx-year-month-picker>
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            付款方式
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new ServiceDropDownListRender()
                {
                    vModel = "dataParam.FKFSID",
                    ServiceMothod = m => m.fkfs(),
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            收款金额
        </i-col>
        <i-col span="6" class="RowText">
            <i-input type="number" readonly v-model="dataParam.ALL_MONEY" clearable disabled />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="14" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" clearable v-bind:disabled="!disabled"/>
        </i-col>
    </row>
}
@section detailParam{
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title">账单</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-show="disabled">
                        <i-button type="primary" v-on:click="selBill">选择</i-button>
                        <i-button type="error" v-on:click="delBill">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colDef" v-bind:height="200" selection=true
                          v-bind:data="dataParam.BILL_OBTAIN_ITEM" v-bind:disabled="!disabled" ref="refZd">
                </yx-table>
            </Card>
        </i-col>
    </row>
}

@section pops{
<yx-modal v-bind:src="screenParam.srcPop" v-bind:title="screenParam.title" width="900"
          v-bind:modal-visible.sync="screenParam.showPop"></yx-modal>
}

