@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>

@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            商户
        </i-col>
        <i-col span="6" class="RowText">
            <i-input readonly v-bind:icon="disabled? 'md-search':''"
                     v-model="dataParam.MERCHANTNAME" v-on:on-click="selMerchant" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收费单位
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new DropDownListsRender()
                {
                    vModel = "dataParam.FEE_ACCOUNT_ID",
                    Data = "screenParam.FEE_ACCOUNT",
                    EmptyText = "",
                    Enable = true,
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            收款年月
        </i-col>
        <i-col span="6" class="RowText">
            <yx-date-picker type="month" v-bind:value.sync="dataParam.NIANYUE" v-bind:disabled="!disabled"></yx-date-picker>
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            付款方式
        </i-col>
        <i-col span="6" class="RowText">
            <yx-select v-bind:value.sync="dataParam.FKFSID" method="fkfs" v-bind:disabled="!disabled"></yx-select>
        </i-col>
        <i-col span="2" class="RowTitle">
            收款金额
        </i-col>
        <i-col span="6" class="RowText">
            <i-input type="number" readonly v-model="dataParam.ALL_MONEY" clearable disabled />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="14" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" clearable v-bind:disabled="!disabled"/>
        </i-col>
    </row>
}
@section detailParam{
    <row>
        <i-col span="24">
            <Card v-bind:padding=0>
                <p slot="title">账单</p>
                <div slot="extra">
                    <div class="tableBtnDiv" v-show="disabled">
                        <i-button type="primary" v-on:click="selBill">选择</i-button>
                        <i-button type="error" v-on:click="delBill">删除</i-button>
                    </div>
                </div>
                <yx-table v-bind:columns="screenParam.colDef" v-bind:height="200" selection
                          v-bind:data="dataParam.BILL_OBTAIN_ITEM" v-bind:disabled="!disabled" ref="refZd">
                </yx-table>
            </Card>
        </i-col>
    </row>
}

