@using z.ERP.Web.Areas.Layout.Edit;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            备注
        </i-col>
        <i-col span="22" class="RowText">
            <i-input v-model="dataParam.DESCRIPTION" v-bind:disabled="!disabled" />
        </i-col>
    </row>
}
@section detailParam{
<row>
    <i-col span="24">
        <Card v-bind:padding=0>
            <p slot="title">原单元</p>
            <div slot="extra" v-show="disabled">
                <i-button type="primary" v-on:click="SelShop">选择单元</i-button>
                <i-button type="error" v-on:click="delShop">删除</i-button>
            </div>
            <yx-table v-bind:columns="screenParam.colDef" v-bind:height="180" selection
                      v-bind:data="dataParam.ASSETCHANGEITEM" v-bind:disabled="!disabled" ref="refOldCell">
            </yx-table>
        </Card>
    </i-col>
</row>
<row>
    <i-col span="24">
        <Card v-bind:padding=0>
            <p slot="title">新单元</p>
            <div slot="extra" v-show="disabled">
                <i-button type="primary" v-on:click="addCol2">添加一行</i-button>
                <i-button type="error" v-on:click="delCol2">删除</i-button>
            </div>
            <yx-table v-bind:columns="screenParam.colDef2" v-bind:height="300" selection
                      v-bind:data="dataParam.ASSETCHANGEITEM2" v-bind:disabled="!disabled" ref="refNewCell">
            </yx-table>
        </Card>
    </i-col>
</row>
}

