@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section search{
    <row>
        <i-col span="5" class="RowTitle">门店</i-col>
        <i-col span="6" class="RowText">
            <yx-select v-bind:value.sync="searchParam.BRANCHID" method="branch" v-on:change="branchChange"></yx-select>
        </i-col>
        <i-col span="5" class="RowTitle">终端号</i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="searchParam.POSNO" />
        </i-col>
    </row>
}

@section element{
    <row>
        <i-col span="4" class="RowTitle">
            终端号
        </i-col>
        <i-col span="5" class="RowText">
            <i-input readonly v-bind:icon="!disabled? 'md-search':''"
                     v-model="dataParam.POSNO" v-on:on-click="SelStation" v-bind:disabled="disabled" />
        </i-col>
        <i-col span="4" class="RowTitle">
            门店
        </i-col>
        <i-col span="5" class="RowText">
            <i-input v-model="dataParam.BRANCHNAME" disabled/>
        </i-col>
    </row>
    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            服务地址
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.URL" v-bind:disabled="disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            商户号
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.PID" v-bind:disabled="disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            <span class="mustElement">*</span>
            加密方式
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumDropDownListRender<加密方式>()
                {
                    vModel = "dataParam.ENCRYPTION",
                    Enable = false
                });
            }
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            密钥Key
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.KEY" v-bind:disabled="disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            公钥Key
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.KEY_PUB" v-bind:disabled="disabled" />
        </i-col>
    </row>

    <row>
        <i-col span="4" class="RowTitle">
            日志路径
        </i-col>
        <i-col span="15" class="RowText">
            <i-input v-model="dataParam.LOG" v-bind:disabled="disabled" />
        </i-col>
    </row>
}

