@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Define
@inherits DefineViewBase

@section element{
    <row>
        <i-col span="2" class="RowTitle">
            代码
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ID" disabled />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
            名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.NAME" v-bind:disabled="disabled" />
        </i-col>
    </row>
}
