@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.EditDetail;
@using z.ERP.Entities;
@inherits EditDetailViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        角色代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLECODE",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        角色名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLENAME"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        所属机构
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.ORGIDCASCADER",
                    Data = "screenParam.ORGData",
                    Change = "orgChange",
                    Not_level_last = true,
                    Enable = true
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">作废标记</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    MultiSelect = false
                });
            }
        </i-col>
    </row>
    
    <Tabs type="card" value="name1">
        <Tab-Pane label="菜单权限" name="name1">
            <Tree :data="screenParam.USERMODULE" show-checkbox></Tree>
        </Tab-Pane>
        <Tab-Pane label="门店权限" name="name2">
            <i-table size="small" :border="true" height="370" width="400"
             :columns="screenParam.colDef_BRANCH" :data="screenParam.BRANCH"
             v-on:on-select="screenParam.selectDataBRANCH"
             v-on:on-select-all="screenParam.selectDataAllBRANCH"
             v-on:on-select-all-cancel="screenParam.selectAllCancelBRANCH"
             v-on:on-select-cancel="screenParam.selectCancelBRANCH"></i-table>
        </Tab-Pane>
        <Tab-Pane label="区域权限" name="name3">
            <i-table size="small" :border="true" height="370" width="400"
                     :columns="screenParam.colDef_Menuregion" :data="screenParam.region"
                     v-on:on-select="screenParam.selectDataregion"
                     v-on:on-select-all="screenParam.selectDataAllregion"
                     v-on:on-select-all-cancel="screenParam.selectAllCancelregion"
                     v-on:on-select-cancel="screenParam.selectCancelregion"></i-table>
        </Tab-Pane>
        <Tab-Pane label="业态权限" name="name4">
            <Tree :data="screenParam.ytTreeData" show-checkbox></Tree>
        </Tab-Pane>
        <Tab-Pane label="预警权限" name="name5">
            <i-table size="small" :border="true" height="370" width="400"
                     :columns="screenParam.colDef_Menufee" :data="screenParam.Alert"
                     v-on:on-select="screenParam.selectDataAlert"
                     v-on:on-select-all="screenParam.selectDataAllAlert"
                     v-on:on-select-all-cancel="screenParam.selectAllCancelAlert"
                     v-on:on-select-cancel="screenParam.selectCancelAlert"></i-table>
        </Tab-Pane>
        <Tab-Pane label="费用项目" name="name6">
            <i-table size="small" :border="true" height="370" width="400"
                     :columns="screenParam.colDef_Menufee" :data="screenParam.fee"
                     v-on:on-select="screenParam.selectDatafee"
                     v-on:on-select-all="screenParam.selectDataAllfee"
                     v-on:on-select-all-cancel="screenParam.selectAllCancelfee"
                     v-on:on-select-cancel="screenParam.selectCancelfee"></i-table>
        </Tab-Pane>
        <Tab-Pane label="其他权限" name="name7">
            <row>
                <i-col>
                    @{
                        RenderControl(new ButtonRender()
                        {
                            Click = "SelCrmRole",
                            Text = "CRM权限",
                            Enable = true,
                            Type = "primary"
                        });
                    }
                </i-col>
            </row>
        </Tab-Pane>
    </Tabs>              
}

@section pops{
    <row>
        <i-col>
            @{
                RenderControl(new PopsRender()
                {
                    vModel = "screenParam.showPopCrmRole",
                    Src = "screenParam.srcPopCrmRole",
                    Caption = "CRM权限",
                    Width = "800"
                });
            }
        </i-col>
    </row>
}
