@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        角色代码
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLECODE",
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        角色名称
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLENAME"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        所属机构
        </i-col>
        <i-col span="6">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.ORGIDCASCADER",
                    Data = "screenParam.ORGData",
                    Change = "orgChange",
                    Enable = true
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">作废标记</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    MultiSelect = false
                });
            }
        </i-col>
    </row>
}
@section detailParam{
    <row>
        <i-col span="10">菜单权限
            <i-table size="small" :border="true" height="370"
                     :columns="screenParam.colDef_Menu" :data="screenParam.USERMODULE"
                     v-on:on-select="screenParam.selectData"
                     v-on:on-select-all="screenParam.selectDataAll"
                     v-on:on-select-cancel="screenParam.selectCancel"></i-table>
        </i-col>

        <i-col span="5">费用项目
            <i-table size="small" :border="true" height="370"
                     :columns="screenParam.colDef_Menufee" :data="screenParam.fee"
                     v-on:on-select="screenParam.selectDatafee"
                     v-on:on-select-all="screenParam.selectDataAllfee"
                     v-on:on-select-cancel="screenParam.selectCancelfee"></i-table>
        </i-col>
    </row>
}

