@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.Edit;
@using z.ERP.Entities;
@inherits EditViewBase<string>
@section head{
    <style>
    .zzc {
        width: 100%;
        height: 370px;
        position: absolute;
        background-color: #F3F3F3;
        z-index: 999999999;
        opacity: 0.6;
        margin-top: 0;
    }
</style>
    }
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        角色代码
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ROLECODE" v-bind:disabled="!disabled" />
        </i-col>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        角色名称
        </i-col>
        <i-col span="6" class="RowText">
            <i-input v-model="dataParam.ROLENAME" v-bind:disabled="!disabled" />
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">
            <span class="mustElement">*</span>
        所属机构
        </i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new CascaderRender()
                {
                    vModel = "dataParam.ORGIDCASCADER",
                    Data = "screenParam.ORGData",
                    Change = "orgChange",
                    Not_level_last = true,
                    Enable = true
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">作废标记</i-col>
        <i-col span="6" class="RowText">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    MultiSelect = false
                });
            }
        </i-col>
    </row>
    }
@section detailParam{  
    <Tabs type="card" value="name1">
        <Tab-Pane label="菜单权限" name="name1">
            <yx-tree v-bind:data="screenParam.USERMODULE"  v-bind:disablecheckbox="!disabled" 
                     v-bind:showcheckbox="true"></yx-tree>
        </Tab-Pane>
        <Tab-Pane label="门店权限" name="name2">
            <div class="zzc" v-if="!disabled"></div>
            
            <i-table size="small" :border="true" height="370" width="400"
             v-bind:columns="screenParam.colDef_BRANCH" v-bind:data="screenParam.BRANCH"
             v-on:on-select="screenParam.selectDataBRANCH"
             v-on:on-select-all="screenParam.selectDataAllBRANCH"
             v-on:on-select-all-cancel="screenParam.selectAllCancelBRANCH"
             v-on:on-select-cancel="screenParam.selectCancelBRANCH"></i-table>
        </Tab-Pane>
        <Tab-Pane label="区域权限" name="name3">
            <div class="zzc" v-if="!disabled"></div>
            <i-table size="small" :border="true" height="370" width="400"
                     v-bind:columns="screenParam.colDef_Menuregion" v-bind:data="screenParam.region"
                     v-on:on-select="screenParam.selectDataregion"
                     v-on:on-select-all="screenParam.selectDataAllregion"
                     v-on:on-select-all-cancel="screenParam.selectAllCancelregion"
                     v-on:on-select-cancel="screenParam.selectCancelregion"></i-table>
        </Tab-Pane>
        <Tab-Pane label="业态权限" name="name4">
            <yx-tree v-bind:data="screenParam.ytTreeData" v-bind:disablecheckbox="!disabled" 
                     v-bind:showcheckbox="true">
            </yx-tree>
        </Tab-Pane>
        <Tab-Pane label="预警权限" name="name5">
            <div class="zzc" v-if="!disabled"></div>
            <i-table size="small" :border="true" height="370" width="400"
                     v-bind:columns="screenParam.colDef_Alert" v-bind:data="screenParam.Alert"
                     v-on:on-select="screenParam.selectDataAlert"
                     v-on:on-select-all="screenParam.selectDataAllAlert"
                     v-on:on-select-all-cancel="screenParam.selectAllCancelAlert"
                     v-on:on-select-cancel="screenParam.selectCancelAlert"></i-table>
        </Tab-Pane>
        <Tab-Pane label="费用项目" name="name6">
            <div class="zzc" v-if="!disabled"></div>
            <i-table size="small" :border="true" height="370" width="400"
                     v-bind:columns="screenParam.colDef_Menufee" v-bind:data="screenParam.fee"
                     v-on:on-select="screenParam.selectDatafee"
                     v-on:on-select-all="screenParam.selectDataAllfee"
                     v-on:on-select-all-cancel="screenParam.selectAllCancelfee"
                     v-on:on-select-cancel="screenParam.selectCancelfee"></i-table>
        </Tab-Pane>
        <Tab-Pane label="其他权限" name="name7">
            <row>
                <i-col span="12" offset="8">
                    <i-button icon="md-settings" v-on:click="SelCrmRole" 
                              v-bind:disabled="!disabled">CRM权限</i-button>
                </i-col>
            </row>
        </Tab-Pane>
    </Tabs>              
}

@section pops{
<yx-modal v-bind:src="screenParam.srcPopCrmRole" title="CRM权限" width="800" height="400"
          v-bind:modal-visible.sync="screenParam.showPopCrmRole"></yx-modal>
}
