@using z.ERP.Web.Areas.Share.Render
@using z.ERP.Entities.Enum
@using z.ERP.Web.Areas.Layout.EditDetail;
@using z.ERP.Entities;
@inherits EditDetailViewBase<string>
@section baseParam{
    <row>
        <i-col span="2" class="RowTitle">角色编码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLEID"
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">角色代码</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLECODE",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">角色名称</i-col>
        <i-col span="6">
            @{
                RenderControl(new TextBoxRender()
                {
                    vModel = "dataParam.ROLENAME",
                    Enable = false
                });
            }
        </i-col>
    </row>
    <row>
        <i-col span="2" class="RowTitle">所属机构</i-col>
        <i-col span="6">
            @{
                RenderControl(new UndefineRender()
                {
                    vModel = "dataParam.ORGID",
                    Enable = false
                });
            }
        </i-col>
        <i-col span="2" class="RowTitle">作废标记</i-col>
        <i-col span="6">
            @{
                RenderControl(new EnumCheckBoxListRender<标记>()
                {
                    vModel = "dataParam.VOID_FLAG",
                    MultiSelect = false,
                    Enable = false
                });
            }
        </i-col>
    </row>
    <card>
        <p>功能权限</p>
        <Tree :data="dataParam.MENU" show-checkbox multiple></Tree>
    </card>
    <card>
        <p>收费项目权限</p>
    @*<i-table highlight-row size="small" border="true" ref="selectData"
             :columns="screenParam.colDefFeeSubject" :data="screenParam.FEESUBJECT"></i-table>*@
        <CheckboxGroup v-for="item in screenParam.FEESUBJECT"> 
                <Checkbox  label="item.NAME" :disabled="item.DISABLED" v-model="item.CHECKED">{{item.NAME}}</Checkbox>
 <br />                
        </CheckboxGroup>
</card>

    
}
